<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <ui:composition template="/commons/userMainTemplate.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="menu">
            <div id="menu">
                <ul class="navbar main_nav_style">
                    <!-- Home -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/index.xhtml">Home</a></li>

                    <!-- Why 24FnF -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/why_fnf.xhtml">Why 24FnF</a></li>

                    <!-- Downloads -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/download.xhtml">Downloads</a></li>

                    <!-- Features -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/features.xhtml" class="active">Features</a></li>

                    <!-- Support -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/support.xhtml">Support</a></li>
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                </ul>
            </div>
        </ui:define>
        <ui:define name="middle">
            <div id="feature_heading">Features</div>
            
            <div id="feature_point_div">
                <span style="font-size: 15px">
                <span style="font-weight:bold">Calls</span><br />
                Remain connected. It is free to arrange calls between 24 FnF users. You can also call your friends in their mobile phones for free for the first two minutes! <br /><br />
                Calling from 24 FnF to 24 FnF is absolutely free. Now you can stay in touch with your friends and or have formal conversations with your business associates. <br /><br />
                Calling cellphones is free as well for the first two minutes. This is a revolutionary feature only for 24 FnF users.  Now you can call your friends and family even if they do not have 24 FnF with them! <br /><br />
                You can include several of your contacts together on your call to share your moments together. No matter if it is a family get together or a group meeting at office, 24 FnF will let you do it effortlessly.  <br /><br />
                Unlike other calling services, 24 FnF lets you make free calls to non-users of 24 FnF for the first two minutes. No subscription or extra credit is required. <br /><br />
                <span style="font-weight:bold">Messages</span><br />
                You can send up to two SMS to cellphone numbers absolutely free! This is an extraordinary feature made possible by 24 FnF. <br /><br />
                24 FnF has its state of the art backend technology which enables sending test messages fast and easy. Get rid of inconvenient push to type process as you can now send sms directly from your keyboard.   <br /><br />
                Unlike other messaging services, 24 FnF lets you make free test sms sending for up to two SMS daily. No subscription or extra credit is required. <br /><br />
                <span style="font-weight:bold">Photo sharing</span><br />
                The days of only calling and texting through an app is over, now you can share your photos on the same app. 24 FnF lets you share your photo as well. <br /><br />
                24 FnF lets the user share the photos on their news line on the home page of the application. <br /><br />
                The 24 FnF photo sharing feature enables users to share multimedia content such as photo, video etc. the feature has been designed keeping the convenience of the user on mind.  The user can simply snap pictures and share them on the social networking platforms. <br /><br />


                <span style="font-weight:bold">File Sharing</span><br />
                You can now forget about the size limit for your files to share. With the robust file sharing feature of 24 FnF, you can share files of any size with your friends and family without having to care about the file size. Let it be a multimedia content or a long set of documents zipped into one large file, you do not need to worry anymore, simply share with convenience.  <br /><br />
                <span style="font-weight:bold">Book</span><br />
                24 FnF is a groundbreaking initiation made by IPvision Canada Inc.  Imagine having a platform which will enable you to have all the features of Facebook, Instagram, and Skype etc. under one umbrella. 24 FnF is just that. The Book feature of 24 FnF is the individual news feed for the user. Here the user will be able to share a status with friends or contacts. Contacts using 24 FnF can rate or comment on the users post. Likewise, the user can also rate or comment on the posts of others. Multimedia content can also be uploaded on the news feed other than simply posting status updates. <br /><br />
                <span style="font-weight:bold">Mail Service</span><br />
                24 FnF has heavy-duty and efficient server which enables the company to maintain its own individual mail service. Users who will register for using the 24 FnF app will automatically be eligible for an email account. The mail feature is simple and convenient to use and puts the user in full control of the inbox. A high storage limit ensures that you do not run out of your important mails due to lack of space.  You can make groups, keep drafts, use the calendar and utilize many other features that come with the mail service of 24 FnF. <br /><br />
                <span style="font-weight:bold">Sticker Maker</span><br />
                24 FnF lets its users make the most of the app by bringing out unique and state of the art features. The sticker maker is such a feature.  This feature will enable the user to make a fabulous piece of sticker or card to share with friends and family. The user will be able to choose any appropriate sticker from a range of wonderful stickers available in the collection of 24 FnF. It is on the user to customize the stickers and make a suitable content which delivers the perfect message to the chosen friend or family member. Contents can be made to celebrate special days, achievements, events and so on. 
                </span>
            </div>
           
        </ui:define>
    </ui:composition>
</html>