<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <ui:composition template="/secure/user/user_template.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        
        <ui:define name="userdetails">
           
            <div style="color:#0000FF;font-weight:bold; ">#{groupAction.setGroupDetails(param['groupId'])}</div>
            #{groupAction.setErrorMessage("")}
            #{groupAction.setNewGroupId(param['groupId'])}
            <h:form id="groupForm">
                <div style="font-size: 15px;font-weight: bold;padding:10px;">
                    <table width="100%">
                        <tr>
                            <td class="td1">
                                <h:outputText value="Group Name: " />
                            </td>
                            <td>
                                <h:outputText style="margin-left: 10px;" value="#{groupAction.groupDetails.groupName}" />
                            </td>

                        </tr> 
                    </table>
                </div>
                <div>
                    <h:outputLabel class="edit-success-message" value="Select Group Members" />
                    <h:dataTable var="con" value="#{groupAction.groupDetails.memberList}" style="width:100%;" 
                                 styleClass="data-table"
                                 headerClass="data-table-header"
                                 rowClasses="data-table-odd-row,data-table-even-row">
                        <h:column>
                            <ui:fragment rendered="#{con.presence eq 1}">
                                <img class="image" height="15" width="15" src="#{facesContext.externalContext.requestContextPath}/clients_image/offline.png" alt="" style="margin-left: 5px;margin-right: 5px;"/>
                            </ui:fragment>
                            <ui:fragment rendered="#{con.presence eq 2}">
                                <img class="image" height="15" width="15" src="#{facesContext.externalContext.requestContextPath}/clients_image/online.png" alt="" style="margin-left: 5px;margin-right: 5px;"/>
                            </ui:fragment>
                        </h:column>
                        <h:column> 
                            <img class="image" height="50" width="50" src="#{con.profileImage}" alt=" "/>
                        </h:column>
                        <h:column>
                            #{con.firstName}&nbsp;#{con.lastName}
                        </h:column>
                        <h:column>
                            <h:selectBooleanCheckbox  value="#{con.admin}" label="Admin" />
                        </h:column>
                        <h:column>
                            <ui:fragment rendered="#{groupAction.isTempMember(con.userIdentity)}">
                                <a4j:commandButton styleClass="submit_button" render="groupForm"  value="Remove" action="#{groupAction.removeTempMember(con.userIdentity)}" />
                            </ui:fragment>
                            <ui:fragment rendered="#{!groupAction.isTempMember(con.userIdentity)}">
                                <a4j:commandButton action="#{groupAction.addTempMember(con.userIdentity)}"  styleClass="submit_button" render="groupForm"  value="Add" />
                            </ui:fragment>
                        </h:column>
                    </h:dataTable>
                    <table>
                        <tr class="tr">
                            <td colspan="5" align="center">
                                <input class="submit_button" type="reset" value="Reset"/>  
                                <h:commandButton styleClass="submit_button" action="#{groupAction.createGroup()}" value="Update"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>