<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>24FnF</title>
        <script src="http://localhost:8080/fnfweb/resources/js/jquery-1.4.2.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $j=jQuery.noConflict();
        </script>
        <style type="text/css">
            .submit_button {
                border:1px solid #057eb5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:verdana, sans-serif; 
                padding: 3px 15px; text-shadow: 1px 1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #07A4EB;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#07A4EB), to(#0681B9));
                background-image: -webkit-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -moz-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -ms-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -o-linear-gradient(top, #07A4EB, #0681B9);
                background-image: linear-gradient(to bottom, #07A4EB, #0681B9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#07A4EB, endColorstr=#0681B9);
                margin:5px;
                cursor: pointer;
            }
            #emoticons_changed
            {
                display: none;
                border: 1px solid #666;
                background:#fff;
                position: absolute;
                left: -10000px;
                top: 0;
                max-width:310px;
                overflow: hidden;
            }
            #emoticons_changed table{margin:0;padding:0;}
            #emoticons_changed table td{vertical-align:middle;}
            #emoticons_changed table td div.small{padding:2px;border:1px solid #fefefe;height:25px;width: 25px;}
            #emoticons_changed table td div.sticker{padding:2px;border:1px solid #fefefe;height:80px;width: 80px;}
            #emoticons_changed table td div.small img{height:25px;width: 25px;cursor: pointer;}
            #emoticons_changed table td div.sticker img{height:80px;width: 80px;cursor: pointer;}
            #emoticons_changed table td div:hover{border:1px solid #333;}
            #emoticonBtn{cursor:pointer;}
            .msgNotification{color:#f00;font-weight:bold;font-size:8pt;position:relative;top: -5px;}

            .jtab{font-size:9pt;}
            .jtab ul{list-style:none;margin:0;padding:0;}
            .jtab .tab_nav{float:left;cursor:pointer;text-align:center;color:#344e66;}
            .jtab .tab_nav div{background:#e8eced;border-left:1px solid #cccccc;border-right:1px solid #cccccc; border-top:1px solid #cccccc;padding:2px 10px;}
            .jtab .sel div{background:#fff;color:#cc0104;}
            .jtab .tab_body{clear:both;border:1px solid #DDD;padding:5px;max-height:250px;overflow-y:scroll;}
            .jtab .tab_body_2,.tab_body_3,.tab_body_4,.tab_body_5{display:none;}
        </style>
    </h:head>
    <h:body>
        <div style="height:300px">
            <div class="chatPanel"></div>
        </div>
        <div id="messageForm">
            <div id="sendingStatus" />
            <input type="text" name="message" value="" class="jmessage" />
            <input type="hidden" name="friendName" value="nazmul" />
            <input type="hidden" name="userName" value="anwar" />
            <img id="emoticonBtn" src="http://localhost:8080/fnfweb/resources/img/smile_icon.png" alt="Click to select Smiley"/>
            <input type="button" name="send" value="Send" class="jSendBtn" />
        </div>
        <div id="emoticons_changed">
            <div class="jtab">
                <ul>
                    <li class="tab_nav tab_nav_1"><div>Emoticon</div></li>
                    <li class="tab_nav tab_nav_2"><div>Sticker</div></li>
                </ul>
                <ul>
                    <li class="tab_body tab_body_1">
                        <h:outputText escape="false" value="#{chatWindowActivity.getEmoticonList()}" />
                    </li>
                    <li class="tab_body tab_body_2">
                        <h:outputText escape="false" value="#{chatWindowActivity.getStickerList()}" />
                    </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                tab.init();
                $j('.jSendBtn').click(function(){
                  //  alert('o');
                    $j.ajax({
                        url: "#{facesContext.externalContext.requestContextPath}/SendMessage",
                        type:'post',
                        data: {
                            message:$j("input[name='message']").val(),
                            friendName:$j("input[name='friendName']").val(),
                            userName:$j("input[name='userName']").val()
                        },
                        success:function(html){
                            if(html!=null){
                                var json=eval('('+html+')'); 
                                var s=json.userName.toString();
                                var m=json.message.toString();
                              //  alert(s+m);
                                $j('.chatPanel').append("&lt;div&gt;"+s+" : "+m+"&lt;/div&gt;&lt;div&gt;"+json.messageDateString+"&lt;/div&gt;");
                            }
                        },error:function(e,m,s){
                            alert('error');
                        }
                    });
                }); 
                $j("#emoticonBtn").click(function(){
                    var pos = $j(this).offset();
                    var div = $j("#emoticons_changed");
                    var visibility=$j("#emoticons_changed").css("display");
                        
                    if(visibility=='none'){
                        div.css('display','block');
                    }else{
                        div.css('display','none');
                    }

                    div.css({
                        "left": pos.left-div.width()/2+10,
                        "top":  pos.top - div.height() - 10
                    });
                });
                
                
            });
            function scrollDown(){
                $j(".jmessage").removeAttr("readonly");
                $j("#sendingStatus").text("");
                var height=$j("#messagePanel").css("height");
                height=height.replace("px","");
                if(height>350){
                    $j("#messagePanel").css("height","350px");
                    $j("#messagePanel").css("overflow-y","scroll");
                }
                $j("#messagePanel").scrollTop($j("#messagePanel")[0].scrollHeight);
            }
            function sendMessage(){
                $j("#sendingStatus").text("Sending...");
                $j(".jmessage").attr("readonly","true");
            }
            function smileyCode(iconCode)
            {
                $j(".jmessage").removeAttr("readonly");
                var $jmsgEle = $j(".jmessage");
                $jmsgEle.val($jmsgEle.val() + iconCode+' ');
                var $jele = $j("#emoticons_changed");
                $jele.hide();
                $jmsgEle.focus();
            }
                
            var tab={
                init:function(){
                    $j('.tab_nav_1').mouseover(function(){
                        tab.reset('1');
                    });
                    $j('.tab_nav_2').mouseover(function(){
                        tab.reset('2');
                    });
                    $j('.tab_nav_3').mouseover(function(){
                        tab.reset('3');
                    });
                },
                reset:function(sel){
                    $j('.tab_body').css('display','none');
                    $j('.tab_body_'+sel).css('display','block');
                    $j('.tab_nav').removeClass('sel');
                    $j('.tab_nav_'+sel).addClass('sel');
                }
            }
        </script>
    </h:body>
</html>