<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:composition template="/commons/loggedUserTemplate_1.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="menu">
            <div id="menu">
                <ul class="navbar" style="float: right; margin: 0px; margin-top: 23px;">
                    <!-- Home -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/index.xhtml">Home</a></li>
                    <!-- Why 24FnF -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/why_fnf.xhtml">Why 24FnF</a></li>
                    <!-- Downloads -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/download.xhtml">Downloads</a></li>
                    <!-- Features -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/features.xhtml">Features</a></li>
                    <!-- Support -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/support.xhtml">Support</a></li>
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                </ul>
                
            </div>
        </ui:define>
        <ui:define name="middle">
            

        
            
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <ul class="nav" style="display: block;">
                        <li>
                            <a id="nav_fnf" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');" href="#">
                                <p><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/24fnf.png" /></p>
                            </a>
                        </li>

                        <li>
                            <a id="nav_fnf_book" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');" href="#">
                                <p><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/fnf_book.png" /></p>
                            </a>
                        </li>

                        
                        <li>
                            <a id="nav_fnf_mail" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');" href="#">
                                <p><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/fnf-mail.png" /></p>
                            </a>
                        </li>
                        <li>
                            <a id="nav_fnf_mail" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');border: none" href="#">
                                
                            </a>
                        </li>
                        <li>
                            <a id="nav_fnf_mail" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');border: none" href="#">
                               
                            </a>
                        </li>
                        <li>
                            <a id="nav_fnf_mail" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');border: none" href="#">
                               
                            </a>
                        </li>
                    </ul>
                </div>
               
                <div class="col-lg-2 col-md-2 col-sm-8 col-xs-6">
                    <ul class="nav" id="fnf_sub">
                           <li><a class="active" href="#{facesContext.externalContext.requestContextPath}/secure/user/welcome.xhtml">24FnF Account</a></li>
                        
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/view.xhtml"><div class="cc">Profile</div></a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/edit_profile.xhtml"><div class="cc">Edit Profile</div></a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/edit_privacy.xhtml"><div class="cc">Privacy Settings</div></a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/change_password.xhtml" ><div class="cc">Change Password</div></a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/add_contacts.xhtml"><div class="cc">Add Contact</div></a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/sms/send_mobile.xhtml"><div class="cc">Send SMS</div></a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/group/new_group.xhtml"><div class="cc">Add Group</div></a></li>
                      
                        
                        
                        
                    </ul>

                    <ul class="nav" id="fnf_book_sub" style="display: none">
                        <li><a class="active" href="#">24FnF Account Book</a></li>
                        <li><a href="#"><div class="cc">Edit Profile Book</div></a></li>
                        <li><a href="#"><div class="cc">Privacy Settings Book</div></a></li>
                        <li><a href="#"><div class="cc">Change Password</div></a></li>
                        <li><a href="#"><div class="cc">Add Contact</div></a></li>
                        <li><a href="#"><div class="cc">Send SMS</div></a></li>
                        <li><a href="#"><div class="cc">Add Group</div></a></li>
                    </ul>

                    <ul class="nav" id="fnf_mail_sub" style="display: none">
                        <li><a class="active" href="#">24FnF Account Mail</a></li>
                        <li><a href="#"><div class="cc">Edit Profile Mail</div></a></li>
                        <li><a href="#"><div class="cc">Privacy Settings Mail</div></a></li>
                        <li><a href="#"><div class="cc">Change Password</div></a></li>
                        <li><a href="#"><div class="cc">Add Contact</div></a></li>
                        <li><a href="#"><div class="cc">Send SMS</div></a></li>
                        <li><a href="#"><div class="cc">Add Group</div></a></li>
                    </ul>
                    
                </div>
                
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <h4 style="font-family: arial;font-weight: normal">Personal Information</h4>	
                    <hr/>
                    <div class="table-responsive"> 
                        <table id="customize_info_table" border="0" class="table table-striped table-hover">
                            <tr >
                                <td>Profile Picture</td>
                                <td colspan="2"><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/profile.jpg" /></td>
                            </tr>
                            <tr>
                                <td>24FnF Id </td>
                                <td><strong>Md.Ruhul Amin Robin</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>First Name </td>
                                <td><strong>Robin</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Last Name </td>
                                <td><strong>Robin</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Country </td>
                                <td><strong>Bangladesh</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Phone No </td>
                                <td><strong>99999999999</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Email </td>
                                <td><strong>robin.ece019@gmail.com</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td><strong>Male</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Chat part Start -->
                    <div style="" class="table-responsive chat_table_div"> 
                        <table id="customize_chat_table" class="table table-striped table-hover chat_table">
                            <tr>
                                <td colspan="4" id="friend_heading" style="padding: 8px;">Friends</td>
                            </tr>
                            <tr>
                                <td colspan="1" style="background: #ccc;">
                                    <select style="width: 55px;height: 29px">
                                        <option>All</option>
                                    </select>
                                </td>
                                <td colspan="3" style="background: #ccc">
                                    <input style="width: 172px;height: 18px;" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/online.png" /></td>
                                <td><img style="height:" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Md.Ruhul Amin Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/offline.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/online.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/offline.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/offline.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/offline.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>    
                        </table>
                    </div>
                    <!-- Chat part End -->

                    <!-- Group Chat part Start -->

                    <div style="height:360px;overflow-y:scroll;border-left: 1px solid #ddd" class="table-responsive"> 
                        <table id="customize_chat_table" class="table table-striped table-hover chat_table">
                            <tr>
                                <td colspan="4" style="background:#82B9FF;color:#fff;padding: 8px">Groups</td>
                            </tr>
                            <tr style="background: #ccc">
                                <td colspan="1" style="background: #ccc">
                                    Search
                                </td>
                                <td colspan="3" style="background: #ccc">
                                    <input style="width: 180px;height: 18px;" type="text" />
                                </td>
                            </tr>

                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Md.Ruhul Amin Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                        </table>
                    </div>	

                    <!-- Group Chat part End -->
                </div>


            </div>
        </ui:define>
    </ui:composition>
</html>

