<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <ui:composition template="/secure/user/user_template.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="userdetails">
            <link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/calender.css" />
            <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.form.js"></script>
            <br />
            <table  class="table table-striped table-hover table-bordered">
                <tr>
                    <th>   
                        <h4>Edit Personal Information</h4>
                    </th>   
                </tr>
            </table>

            <table class="table table-striped table-hover">
                <tr>
                    <td>
                        <div style="display: none" id="successresult">result</div>
                        <div id="profilePictureChangButton" style="width: 200px;max-height: 20px;cursor: pointer;" onclick="showUploadDiv()">
                            <ui:fragment  rendered="#{(loggedUserProfile.profileImage==null||
                                                      loggedUserProfile.profileImage.length()==0)}"  >
                                UPLOAD PROFILE PICTURE
                            </ui:fragment>  
                            <ui:fragment rendered="#{!(loggedUserProfile.profileImage==null||
                                                     loggedUserProfile.profileImage.length()==0)}"  >
                                <input type="button" class="btn btn-show-more" value="CHANGE PROFILE PICTURE" />
                            </ui:fragment> 
                        </div>
                        <div id="profilePictureUploadDiv" style="display: none;text-align:left;">
                            <form id="profilePictureUploadForm" action="#{facesContext.externalContext.requestContextPath}/UploadImage" method="post" enctype="multipart/form-data">
                                <input class="btn btn-show-more" id="file" type="file" name="uploadedfile"/><br/>
                                <input class="btn btn-show-more" type="submit" value="Upload"/>
                            </form>
                            <h:form>
                                <h:commandButton class="btn btn-show-more" action="#{userHomeAction.removeProfileImage()}" value="Remove Profile" />
                            </h:form>
                        </div>
                    </td>
                    <td>
                        <div id="profilePicture">
                            <h:graphicImage id="p-image" value="#{loggedUserProfile.profileImage}"/>
                            <h:graphicImage style="display: none" id="ajaxloader" value="/resources/img/ajax-loader.gif"/>
                        </div>
                    </td>
                </tr>
            </table>
            <script>
                (function() {
                    var bar = $('.bar');
                    var percent = $('.percent');
                    var status = $('#successresult');

                    $('#profilePictureUploadForm').ajaxForm({
                        dataType: 'json',
                        beforeSend: function() {
                            if (!fileSelected()) {
                                alert("Please select an image.");
                                return;
                            }
                            document.getElementById("p-image").style.display = 'none';
                            document.getElementById("ajaxloader").style.display = 'block';
                            status.empty();
                            var percentVal = '0%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        uploadProgress: function(event, position, total, percentComplete) {
                            var percentVal = percentComplete + '%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        complete: function(xhr) {
                            bar.width("100%");
                            percent.html("100%");
                            var vals = eval("(" + xhr.responseText + ")");
                            $("#p-image").attr("src", vals.prIm);
                            document.getElementById("profilePictureChangButton").style.display = 'block';
                            document.getElementById("profilePictureUploadDiv").style.display = 'none';
                            document.getElementById("p-image").style.display = 'block';
                            document.getElementById("ajaxloader").style.display = 'none';

                        }
                    });

                })();

                function showUploadDiv() {
                    document.getElementById("profilePictureChangButton").style.display = 'none';
                    document.getElementById("profilePictureUploadDiv").style.display = 'block';
                }
                
                   function fileSelected() {
                     if(document.getElementById("file").value.length>5){return true;}          

                      return false;
                }

            </script>

            #{userHomeAction.setErrorMessage("")}
            <h:form id="updateWhatisInYourMind">
                <table class="table table-striped table-hover">
                    <tr>
                        <td>
                            <h:outputText value="24FnF ID:*" />
                        </td>
                        <td>
                            <h:outputText value="#{loggedUserProfile.userIdentity}" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <h:outputLabel class="edit-success-message" value="#{userHomeAction.errorMessage}" />
                            #{userHomeAction.setErrorMessage("")}
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top" valign="top">   
                            <h:outputText value="Whats-in-your-mind:" />
                        </td>   
                        <td>
                            <h:inputTextarea style="overflow:auto;resize:none" value="#{loggedUserProfile.whatisInYourMind}" rows="4" cols="40"  id="whatisInYourMind" >
                            </h:inputTextarea>
                            <br />

                            <style type="text/css">
                                button, input[type="reset"], input[type="submit"], input[type="button"]{
                                    background-color:red;
                                }
                            </style>

                            <a4j:commandButton styleClass="btn btn-show-more"  render="updateWhatisInYourMind" action="#{userHomeAction.updateWhatsInMind()}" value="Update"></a4j:commandButton>
                        </td>
                    </tr>  
                </table>

            </h:form>
            <h:form id="userProfileView">
                <table class="table table-striped table-hover">
                    <tr>
                        <td align="center" colspan="2">
                            <h:outputLabel class="edit-success-message" value="#{userHomeAction.errorMessage}" />
                            #{userHomeAction.setErrorMessage("")}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="First Name:*" />
                        </td>
                        <td>
                            <h:inputText requiredMessage="Please enter First Name" required="true" class="editbox" value="#{loggedUserProfile.firstName}" id="firstName" label="First Name:">
                                <f:validateLength minimum="3" maximum="30" />
                                <f:validateRequired />
                                <rich:validator /> 
                            </h:inputText>      
                            <h:message  for="firstName" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Last Name:*" />
                        </td>
                        <td>
                            <h:inputText requiredMessage="Please enter Last Name" required="true" class="editbox" value="#{loggedUserProfile.lastName}" id="lastName" label="Last Name:">
                                <f:validateLength minimum="3" maximum="30" />
                                <f:validateRequired />
                                <rich:validator /> 

                            </h:inputText>
                            <h:message  for="lastName" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Email:*" />
                        </td>
                        <td>
                            <h:inputText requiredMessage="Please enter a valid email address" required="true" class="editbox" value="#{loggedUserProfile.email}" id="email" label="Email:">
                                <f:validateLength minimum="3" maximum="30" />
                                <f:validateRequired />
                                <rich:validator /> 

                            </h:inputText>
                            <h:message  for="email" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Birth Date:*" />
                        </td>
                        <td>
                            <rich:calendar requiredMessage="Please enter Birth Date" required="true" id="birthday"
                                           value="#{loggedUserProfile.birthday}"
                                           datePattern="yyyy-MM-dd">
                                <f:validateRequired />
                                <rich:validator /> 
                            </rich:calendar>
                            <h:outputText value="[YYYY-MM-DD]" style="font-size:9pt;" />
                            <h:message  for="birthday" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Country:" />
                        </td>
                        <td>
                            <h:selectOneMenu class="editbox3" id="country" value="#{loggedUserProfile.country}" required="true"
                                             requiredMessage="Country Required"
                                             validatorMessage="Country Required">

                                <f:selectItem    itemValue="#{null}" itemLabel="Select..." />
                                <f:selectItems var="con" itemLabelEscaped="true"  value="#{countrybean.countries_list}" itemValue="#{con.toString()}" itemLabel="#{con.toString()}" >
                                </f:selectItems>
                                #{countrybean.setCountry_code(countrybean.getCountryCode(loggedUserProfile.country))}
                                <a4j:ajax listener="#{countrybean.getCountryCode(loggedUserProfile.country)}"  event="click" render="mobcode" >
                                </a4j:ajax>
                                <rich:validator /> 

                            </h:selectOneMenu>
                            <h:message for="country" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText  value="Phone No:" />
                        </td>
                        <td>
                            <h:inputText class="editbox2" id="mobcode" value="#{countrybean.country_code}"/>
                            <h:inputText requiredMessage="Please enter Phone No" required="true" class="editbox1" value="#{loggedUserProfile.mobilePhone}" id="mobilePhone" label="Mobile Phone:">
                                <f:validateLength minimum="3" maximum="30" />
                                <f:validateRequired />
                                <rich:validator /> 
                            </h:inputText>
                            <h:message  for="mobilePhone" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Gender:" />
                        </td>
                        <td>
                            <h:selectOneMenu class="editbox3" id="gender" value="#{loggedUserProfile.gender}" required="true"
                                             requiredMessage="Gender Required"
                                             validatorMessage="Gender Required">
                                <f:selectItem itemValue="#{null}" itemLabel="Select..." />
                                <f:selectItem itemLabel="Male" itemValue="Male"/>
                                <f:selectItem itemLabel="Female" itemValue="Female"/>
                                <rich:validator /> 
                            </h:selectOneMenu>
                            <h:message for="gender" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a4j:commandButton styleClass="btn btn-show-more" action="#{userHomeAction.updateProfile()}" value="Update" render="userProfileView" />
                        </td>
                    </tr>
                </table> 
            </h:form>
        </ui:define>
    </ui:composition>
</html>




