<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <ui:composition template="/secure/user/user_template.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="userdetails">
            <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.form.js"></script>
            
            <br />
            <table  class="table table-striped table-hover table-bordered">
                <tr>
                    <th>   
                        <h4>Privacy Settings</h4>
                    </th>   
                </tr>
            </table>
            
            #{userHomeAction.setErrorMessage("")}
            <h:form id="userProfileView">
                <table class="table table-striped table-hover">
                    <tr>
                        <td align="center" colspan="2">
                            <h:outputLabel class="edit-success-message" value="#{userHomeAction.errorMessage}" />
                            #{userHomeAction.setErrorMessage("")}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Email:" />
                        </td>
                        <td>
                            <h:selectOneMenu id="emailPrivacy" class="editbox3" value="#{loggedUserProfile.emailPrivacy}" required="true"
                                             requiredMessage="Email Required"
                                             validatorMessage="Email Required">
                                <f:selectItem itemValue="1" itemLabel="Show All" />
                                <f:selectItem itemLabel="Only Friends" itemValue="2"/>
                                <f:selectItem itemLabel="Don't Show" itemValue="3"/>
                                <rich:validator /> 
                            </h:selectOneMenu>
                            <h:message  for="emailPrivacy" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Phone No:" />
                        </td>
                        <td>
                            <h:selectOneMenu id="mobilePhonePrivacy" class="editbox3"  value="#{loggedUserProfile.mobilePhonePrivacy}" required="true"
                                             requiredMessage="Phone Required"
                                             validatorMessage="Phone Required">
                                <f:selectItem itemValue="1" itemLabel="Show All" />
                                <f:selectItem itemLabel="Only Friends" itemValue="2"/>
                                <f:selectItem itemLabel="Don't Show" itemValue="3"/>
                                <rich:validator /> 
                            </h:selectOneMenu>
                            <h:message  for="mobilePhonePrivacy" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText  value="Profile Image:" />
                        </td>
                        <td>
                            <h:selectOneMenu id="profileImagePrivacy" class="editbox3" value="#{loggedUserProfile.profileImagePrivacy}" required="true"
                                             requiredMessage="Profile Image Required"
                                             validatorMessage="Profile Image Required">
                                <f:selectItem itemValue="1" itemLabel="Show All" />
                                <f:selectItem itemLabel="Only Friends" itemValue="2"/>
                                <f:selectItem itemLabel="Don't Show" itemValue="3"/>
                                <rich:validator /> 
                            </h:selectOneMenu>
                            <h:message  for="profileImagePrivacy" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                      <tr>
                        <td>
                            <h:outputText  value="Cover Image:" />
                        </td>
                        <td>
                            <h:selectOneMenu id="coverImagePrivacy" class="editbox3" value="#{loggedUserProfile.coverImagePrivacy}" required="true"
                                             requiredMessage="Cover Image Required"
                                             validatorMessage="Cover Image Required">
                                <f:selectItem itemValue="1" itemLabel="Show All" />
                                <f:selectItem itemLabel="Only Friends" itemValue="2"/>
                                <f:selectItem itemLabel="Don't Show" itemValue="3"/>
                                <rich:validator /> 
                            </h:selectOneMenu>
                            <h:message  for="coverImagePrivacy" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Birth Day" />
                        </td>
                        <td>
                            <h:selectOneMenu id="birthDayPrivacy" class="editbox3" value="#{loggedUserProfile.birthDayPrivacy}" required="true"
                                             requiredMessage="Birth Day Required"
                                             validatorMessage="Birth Day Required">
                                <f:selectItem itemValue="1" itemLabel="Show All" />
                                <f:selectItem itemLabel="Only Friends" itemValue="2"/>
                                <f:selectItem itemLabel="Don't Show" itemValue="3"/>
                                <rich:validator /> 
                            </h:selectOneMenu>
                            <h:message for="birthDayPrivacy" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a4j:commandButton styleClass="btn btn-show-more" action="#{userHomeAction.updatePrivacy()}" value="Update" render="userProfileView" />
                        </td>
                    </tr>
                </table> 
            </h:form>
        </ui:define>
    </ui:composition>
</html>




