<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
   

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <ui:composition template="/commons/userMainTemplate.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        
        
        
        <ui:define name="rightpanel">
            
     <rich:panel>        
            <h:form id="userEditForm">
                <rich:panel>    
                    <h:panelGrid columns="4">
                        <h:outputText value="Name Name:*" />
                        <h:outputText value="#{userProfileControllerHelper.userProfileUiBinding.users.firstName}" id="firstName" >
                     </h:outputText>
                       <h:selectOneMenu  value="#{userProfileControllerHelper.userProfileUiBinding.userprivacysettings.firstName}" >
<f:selectItems var="var" value="#{userPrivacyDao.userPrivacyTypeList}" itemValue="#{var.id}" itemLabel="#{var.userPrivacyName}"/>
                 </h:selectOneMenu>
                     <br/>
                       
    <h:outputText value="MyFnF Name:*" />
                        <h:outputText value="#{userProfileControllerHelper.userProfileUiBinding.users.userIdentity}" id="userIdentity" >
                       

                        </h:outputText>
 <h:selectOneMenu  value="#{userProfileControllerHelper.userProfileUiBinding.userprivacysettings.userIdentity}" >
<f:selectItems var="var" value="#{userPrivacyDao.userPrivacyTypeList}" itemValue="#{var.id}" itemLabel="#{var.userPrivacyName}"/>
                 </h:selectOneMenu>
                        <br/>



                        <h:outputText value="Email:*" />
                        <h:outputText value="#{userProfileControllerHelper.userProfileUiBinding.users.email}" id="email" >
                     

                        </h:outputText>
 <h:selectOneMenu  value="#{userProfileControllerHelper.userProfileUiBinding.userprivacysettings.email}" >
<f:selectItems var="var" value="#{userPrivacyDao.userPrivacyTypeList}" itemValue="#{var.id}" itemLabel="#{var.userPrivacyName}"/>
                 </h:selectOneMenu>
                        <br/>


                        <h:outputText value="Mobile No:" />
                        <h:outputText value="#{userProfileControllerHelper.userProfileUiBinding.users.mobilePhone}" id="mobilePhone" >
                    

                        </h:outputText>
 <h:selectOneMenu  value="#{userProfileControllerHelper.userProfileUiBinding.userprivacysettings.mobilePhone}" >
<f:selectItems var="var" value="#{userPrivacyDao.userPrivacyTypeList}" itemValue="#{var.id}" itemLabel="#{var.userPrivacyName}"/>
                 </h:selectOneMenu>
                        <br/>

                        <h:outputText value="Gender:" />
                          <h:outputText value="#{userProfileControllerHelper.userProfileUiBinding.users.gender}" id="gender" >
                            </h:outputText>

                         <h:selectOneMenu  value="#{userProfileControllerHelper.userProfileUiBinding.userprivacysettings.gender}" >
<f:selectItems var="var" value="#{userPrivacyDao.userPrivacyTypeList}" itemValue="#{var.id}" itemLabel="#{var.userPrivacyName}"/>
                 </h:selectOneMenu>
                        <br/>
                       
                     
                        

                        <h:outputText value="Country:" />
                                  <h:outputText value="#{userProfileControllerHelper.userProfileUiBinding.users.countries.name}" id="country" >
                            </h:outputText>

 <h:selectOneMenu  value="#{userProfileControllerHelper.userProfileUiBinding.userprivacysettings.countryId}" >
<f:selectItems var="var" value="#{userPrivacyDao.userPrivacyTypeList}" itemValue="#{var.id}" itemLabel="#{var.userPrivacyName}"/>
                 </h:selectOneMenu>
                        
                        <br/>
                       
                       

                        <h:outputText value="Language:" />
                                  <h:outputText value="#{userProfileControllerHelper.userProfileUiBinding.users.languages.name}" id="language" >
                            </h:outputText>

 <h:selectOneMenu  value="#{userProfileControllerHelper.userProfileUiBinding.userprivacysettings.languageId}" >
     <f:selectItems itemLabelEscaped="true"    var="var" value="#{userPrivacyDao.userPrivacyTypeList}" itemValue="#{var.id}" itemLabel="One &lt;a href=&quot;http://google.com&quot; &gt;Google &lt;/a&gt;"/>
                 </h:selectOneMenu>
                        
                        <br/>
                   
                        <f:facet name="footer">
                            <a4j:commandButton action="#{userProfileController.edit}" value="Save" render="userEditForm" />
                        </f:facet>
                    </h:panelGrid>
                </rich:panel>

            </h:form>
        </rich:panel>
         
      </ui:define>
        
        
    </ui:composition>


</html>

