<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich">
 <!--Chat Start-->
                    <div style="" class="table-responsive chat_table_div"> 
                        
                        <table style="margin-bottom: 0px ! important;" id="customize_chat_table" class="table table-striped table-hover chat_table">
                            <tr>
                                <td colspan="3" id="friend_heading" style="padding: 8px;">Friends</td>
                                <td id="friend_heading" colspan="1">
                                    <a class="notificationIcon" href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/pending_friends.xhtml"><span class="jnotifyValue"></span></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" style="background: #ccc;">   
                                    <h:form style="margin:5px;" id="searchContactArea">
                                        <h:selectOneMenu value="#{userHomeAction.friendStatus}" styleClass="jFriendStatus" style="width: 55px;height: 29px">
                                            <f:selectItem itemValue="0" itemLabel="All" />
                                            <f:selectItem itemLabel="Online" itemValue="2"/>
                                            <f:selectItem itemLabel="Offline" itemValue="1"/>
                                            <f:selectItem itemLabel="Pending" itemValue="3"/>
                                        </h:selectOneMenu>
                                    </h:form>
                                </td>
                                <td colspan="3" style="background: #ccc">
                                    <h:inputText style="width: 165px;height: 30px;margin-top: 4px" class="jSearchValue"  value="#{userHomeAction.friendSearchValue}"></h:inputText>
                                </td>
                            </tr>
                        </table>
                        
                        <div style="max-height: 277px;overflow-y:scroll;">
                        <h:form id="contactList">
                            <table  class="chat-table"></table>
                        </h:form>
                            </div>
                    </div>
                   
                   
                    <!-- Chat part End -->

                    <!-- Group Chat part Start -->

                    <div style="margin-top: 20px; height:360px;border: 1px solid #ddd;" > 
                        <div class="container1 font-header1"><div style="float:left;"><span style="color: #fff;font-family: arial;font-size: 15px;font-weight: normal">Groups</span></div> </div>
                        <h:form style="margin:5px;" id="searchGroupArea">
                            <div>
                                Search: 
                                <h:inputText style="width:175px;" id="searchGroupBox"  value="#{groupAction.groupSearchValue}" class="jGroupSearchValue"></h:inputText>
                            </div>
                            <div style="clear:both"></div>
                        </h:form>
                        <div style="max-height: 277px;overflow-y:scroll;">
                        <h:form id="gruouplist">
                            <table class="group-chat-table"></table>
                        </h:form>
                            </div>
                    </div>	

                    <!-- Group Chat part End -->


             
</ui:composition>