<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <h:head>
        <script type="text/javascript">
                var base_url='#{facesContext.externalContext.requestContextPath}';
        </script>

        <script type="text/javascript" >
            var firstNametemp="#{loggedUserProfile.userIdentity}";
            var selected_menu;
        </script>

        <ui:fragment rendered="#{view.viewId.contains('secure/mail')}">
            <script type="text/javascript" >
                selected_menu = 3;
            </script>
        </ui:fragment>

        <ui:fragment rendered="#{view.viewId.contains('secure/book')}">
            <script type="text/javascript" >
                selected_menu = 2;
            </script>
        </ui:fragment>

        <ui:fragment rendered="#{view.viewId.contains('secure/user')}">
            <script type="text/javascript" >
                selected_menu = 1;
            </script>
        </ui:fragment>


        <link href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico" type="image/x-icon" rel="icon"></link>
        <title>24FnF &raquo; All Time Free Call</title>

        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/default.css' rel="stylesheet" type="text/css" />
        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/hiphop.css' rel="stylesheet" type="text/css" />
        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/style4.css' rel="stylesheet" type="text/css" />

        <!-- syntax highlighting for the code that is shown in the <code> tags -->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/prettify.js"></script>
        <!--
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Droid+Sans|Quicksand:400,700,300"/>
        -->

        <!-- Slider -->
        <link rel="stylesheet" media="screen" href="#{facesContext.externalContext.requestContextPath}/resources/css/sequencejs-theme.apple-style.css" />
        <script>
                if (typeof jQuery == 'undefined') {
                    document.write(unescape('%3Cscript src="http://code.jquery.com/jquery-latest.js" %3E%3C/script%3E'));
                }
        </script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.ba-hashchange.min.js"></script>

        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/sequence.jquery-min.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/sequencejs-options.apple-style.js"></script>

        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.reveal.js"></script>
        <!-- F Tab -->				

        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/javascript.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/script.js"></script>		

        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/bootstrap/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/bootstrap/css/custom.css"/>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/bootstrap/css/chat-table.css"/>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/bootstrap/css/group-chat-table.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </h:head>

    <h:body id="after-login_back">

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div id="header_top">
                    <div id="panel">
                        <div class="content clearfix">
                        </div>
                    </div> <!-- /login -->	

                    <!-- The tab on top start -->
                    <!-- For visible-sm visible-lg visible-md -->
                    <div class="row visible-sm visible-lg visible-md">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="tab">
                                 <h:form>
                                    <a4j:poll id="refresh_poll"  interval="1000"  action="#{loginAction.isFourceSignOut()}"/>
                                </h:form>
                                <h:form>	
                                    <ul class="login">
                                        <ui:fragment rendered="#{loginAction!=null and loginAction.loggedUserProfile.sessionId!=null}">
                                            <li class="left">&nbsp;</li>
                                            <li style="color: white;font-size: 12px">
                                                <a href="#{facesContext.externalContext.requestContextPath}/secure/user/welcome.xhtml" > #{loginAction.loggedUserProfile.firstName}&nbsp;#{loginAction.loggedUserProfile.lastName} </a>
                                            </li>
                                            <li style="color:white;">|</li>
                                            <li style="font-size: 12px">
                                                <div id="open" class="open" > <h:commandLink action="#{loginAction.signout()}" >Log Out</h:commandLink> </div>
                                                <a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
                                            </li>
                                            <li class="right">&nbsp;</li> 
                                        </ui:fragment>
                                        <ui:fragment rendered="#{loginAction==null or loginAction.loggedUserProfile.sessionId==null}">
                                            <li class="left">&nbsp;</li>
                                            <li style="color: white;padding-top: 7px; font-size: 12px">Hello Guest!</li>
                                            <li class="sep"></li>
                                            <li style="padding-top: 7px;font-size: 12px">
                                                <div id="open" class="open" ><h:commandLink styleClass="" action="/open/user/login.xhtml?faces-redirect=true">Sign in</h:commandLink> <b style="color: white">&nbsp;&nbsp;|&nbsp;&nbsp;</b> <h:commandLink styleClass="" action="/open/user/registration.xhtml?faces-redirect=true">Register</h:commandLink></div>
                                                <a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
                                            </li>
                                            <li class="right">&nbsp;</li> 
                                        </ui:fragment>
                                    </ul>
                                </h:form>
                            </div> 
                        </div>
                    </div>

                    <!--visible-xs-->
                    <div style="height: 5px;background: #272727" class="row visible-xs">
                    </div>
                    <div style="height: 5px;" class="row visible-xs">
                        <div class="col-lg-offset-9 col-md-offset-9 col-lg-3 col-md-3 col-xs-12 col-sm-12">
                            <div style=" background: none repeat scroll 0 0 #000000;
                                 border-radius: 0 0 11px 6px;
                                 height: 30px;
                                 font-size: 12px;
                                 font-weight: bold;
                                 border-bottom: 2px solid #ccc;
                                 ">

                       
                                <h:form>
                                    <ui:fragment rendered="#{loginAction!=null and loginAction.loggedUserProfile.sessionId!=null}">
                                        <a style="color: #15ADFF;margin-left: 10px;" href="#{facesContext.externalContext.requestContextPath}/secure/user/welcome.xhtml" > #{loginAction.loggedUserProfile.firstName}&nbsp;#{loginAction.loggedUserProfile.lastName} </a>
                                        &nbsp;&nbsp; <span style="color:white;">|</span> &nbsp;&nbsp;
                                        <h:commandLink style="color: #15ADFF" action="#{loginAction.signout()}" >Log Out</h:commandLink>
                                        <a id="close" style="display: none;" class="close" href="#">Close Panel</a>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{loginAction==null or loginAction.loggedUserProfile.sessionId==null}">
                                        <span style="color: white;font-size: 12px">Hello Guest!</span>
                                        <span style="font-size: 12px">
                                            <h:commandLink action="/open/user/login.xhtml?faces-redirect=true">Sign in</h:commandLink> 
                                            <b style="color: white">&nbsp;&nbsp;|&nbsp;&nbsp;</b> 
                                            <h:commandLink styleClass="" action="/open/user/registration.xhtml?faces-redirect=true">Register</h:commandLink>
                                            <a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
                                        </span>
                                    </ui:fragment>

                                </h:form>
                            </div>
                        </div>
                    </div>

                    <!-- The tab on top end -->

                </div>
            </div>
        </div>


        <!-- Upper Menu start-->
        <div class="container" >
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div id="logo"></div>
                </div>

                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <ui:insert name="main_menu"></ui:insert>

                </div>
            </div>
        </div>
        <!-- Upper Menu end-->

        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="container signin_container_back" style="border: 1px solid #ccc;padding-left: 0;padding-right: 0">
            <ui:insert name="middle"></ui:insert>
        </div>

        <!-- end #sidebar -->


        <div style="clear: both;">&nbsp;</div>
        <!-- end #page -->

        <div class="footer">
            <p style="color:#ffffff">&copy; 2011-2014 24FnF.</p>
        </div>
        <div style=" display: none;" id="emoticons_changed" >
            <div class="jtab">
                <ul >
                    <li class="tab_nav tab_nav_1"><div>Emoticon</div></li>
                    <li class="tab_nav tab_nav_2"><div>Sticker</div></li>
                </ul>
                <ul>
                    <li class="tab_body tab_body_1">
                        <h:outputText escape="false" value="#{chatWindowActivity.getEmoticonList()}" />
                    </li>
                    <li class="tab_body tab_body_2">
                        <h:outputText escape="false" value="#{chatWindowActivity.getStickerList()}" />
                    </li>
                </ul>
            </div>
        </div>
        <script src="#{facesContext.externalContext.requestContextPath}/bootstrap/js/bootstrap.min.js" type="text/javascript" ></script>

        <script type="text/javascript">
                if (selected_menu == 3) {
                    document.getElementById("nav_fnf_mail").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/login_menu_select.png)";
                    document.getElementById("nav_fnf").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png)";
                    document.getElementById("nav_fnf_book").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png)";
                } else if (selected_menu == 2) {
                    document.getElementById("nav_fnf_book").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/login_menu_select.png)";
                    document.getElementById("nav_fnf").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png)";
                    document.getElementById("nav_fnf_mail").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png)";
                } else {
                    document.getElementById("nav_fnf").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/login_menu_select.png)";
                    document.getElementById("nav_fnf_mail").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png)";
                    document.getElementById("nav_fnf_book").style.backgroundImage = "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png)";
                }
        </script>

        <style type="text/css">
            button, input[type="reset"], input[type="submit"], input[type="button"]  {
                border:1px solid #057eb5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:verdana, sans-serif; 
                padding: 5px 20px; text-shadow: 1px 1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #07A4EB;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#07A4EB), to(#0681B9));
                background-image: -webkit-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -moz-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -ms-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -o-linear-gradient(top, #07A4EB, #0681B9);
                background-image: linear-gradient(to bottom, #07A4EB, #0681B9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#07A4EB, endColorstr=#0681B9);
                margin:5px;
                cursor: pointer;
            }
            button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
                border:1px solid #045f88; background-color: #0681B9;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#0681B9), top(#045f88));
                background-image: -webkit-linear-gradient(top, #0681B9, #045f88);
                background-image: -moz-linear-gradient(top, #0681B9, #045f88);
                background-image: -ms-linear-gradient(top, #0681B9, #045f88);
                background-image: -o-linear-gradient(top, #0681B9, #045f88);
                background-image: linear-gradient(to bottom, #0681B9, #045f88);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0681B9, endColorstr=#045f88);
            }
        </style>
        <!-- end #footer -->
    </h:body>
</html>

