<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <h:head>
        <link href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico" type="image/x-icon" rel="icon"></link>
        <title>24FnF &raquo; All Time Free Call</title>

        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/default.css' rel="stylesheet" type="text/css" />
        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/style.css' rel="stylesheet" type="text/css" />
        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/hiphop.css' rel="stylesheet" type="text/css" />
        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/style4.css' rel="stylesheet" type="text/css" />

        <!-- syntax highlighting for the code that is shown in the <code> tags -->
        <link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/resources/css/style.css"/> 
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/prettify.js"></script>
        <!--
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Droid+Sans|Quicksand:400,700,300"/>
        -->

        <!-- Slider -->
        <link rel="stylesheet" media="screen" href="#{facesContext.externalContext.requestContextPath}/resources/css/sequencejs-theme.apple-style.css" />
        <script>
            if (typeof jQuery == 'undefined') {
                document.write(unescape('%3Cscript src="http://code.jquery.com/jquery-latest.js" %3E%3C/script%3E'));
            }
        </script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.ba-hashchange.min.js"></script>

        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/sequence.jquery-min.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/sequencejs-options.apple-style.js"></script>


        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.reveal.js"></script>
        <!-- F Tab -->				

        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/javascript.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/script.js"></script>		


        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/bootstrap/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/bootstrap/css/custom.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>

    <h:body>

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div id="header_top">
                    <div id="panel">
                        <div class="content clearfix">
                        </div>
                    </div> <!-- /login -->	

                    <!-- The tab on top -->	

                    <div class="tab">
                        <h:form>
                            <a4j:poll id="refresh_poll"  interval="1000"  action="#{loginAction.isFourceSignOut()}"/>
                        </h:form>

                        <h:form>	
                            <ul class="login">

                                <ui:fragment rendered="#{loginAction!=null and loginAction.loggedUserProfile.sessionId!=null}">
                                    <li class="left">&nbsp;</li>
                                    <li style="color: white;padding-top: 7px;font-size: 12px">
                                        <a href="#{facesContext.externalContext.requestContextPath}/secure/user/welcome.xhtml" > #{loginAction.loggedUserProfile.firstName}&nbsp;#{loginAction.loggedUserProfile.lastName} </a>
                                    </li>
                                    <li style="color:white; padding-top: 7px;">|</li>
                                    <li style="padding-top: 7px;font-size: 12px">
                                        <div id="open" class="open" > <h:commandLink action="#{loginAction.signout()}" >Log Out</h:commandLink> </div>
                                        <a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
                                    </li>
                                    <li class="right">&nbsp;</li> 
                                </ui:fragment>
                                <ui:fragment rendered="#{loginAction==null or loginAction.loggedUserProfile.sessionId==null}">
                                    <li class="left">&nbsp;</li>
                                    <li style="color: white;padding-top: 7px; font-size: 12px">Hello Guest!</li>
                                    <li class="sep"></li>
                                    <li style="padding-top: 7px;font-size: 12px">
                                        <div id="open" class="open" ><h:commandLink styleClass="" action="/open/user/login.xhtml?faces-redirect=true">Sign in</h:commandLink> <b style="color: white">&nbsp;&nbsp;|&nbsp;&nbsp;</b> <h:commandLink styleClass="" action="/open/user/registration.xhtml?faces-redirect=true">Register</h:commandLink></div>
                                        <a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
                                    </li>
                                    <li class="right">&nbsp;</li> 
                                </ui:fragment>
                            </ul>
                        </h:form>
                    </div> 
                </div>
            </div>
        </div>


        <!-- Upper Menu start-->
        <div class="container" >
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div id="logo"></div>
                </div>

                <div class="col-lg-8 col-md-4 col-sm-8 col-xs-8">
                    <div id="menu">
                        <ul class="navbar" style="float: right; margin: 0px; margin-top: 23px;">
                            <!-- Home -->
                            <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                            <li><a href="#{facesContext.externalContext.requestContextPath}/index.xhtml">Home</a></li>
                            <!-- Why 24FnF -->
                            <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                            <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/why_fnf.xhtml">Why 24FnF</a></li>
                            <!-- Downloads -->
                            <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                            <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/download.xhtml">Downloads</a></li>
                            <!-- Features -->
                            <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                            <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/features.xhtml">Features</a></li>
                            <!-- Support -->
                            <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                            <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/support.xhtml">Support</a></li>
                            <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- Upper Menu end-->


        <div class="container signin_container_back" style="border: 1px solid #ccc">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <ul class="nav" style="display: block;">
                        <li>
                            <a id="nav_fnf" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');" href="#">
                                <p><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/24fnf.png" /></p>
                            </a>
                        </li>

                        <li>
                            <a id="nav_fnf_book" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');" href="#">
                                <p><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/fnf_book.png" /></p>
                            </a>
                        </li>


                        <li>
                            <a id="nav_fnf_mail" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');" href="#">
                                <p><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/fnf-mail.png" /></p>
                            </a>
                        </li>
                        <li>
                            <a id="nav_fnf_mail" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');border: none" href="#">

                            </a>
                        </li>
                        <li>
                            <a id="nav_fnf_mail" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');border: none" href="#">

                            </a>
                        </li>
                        <li>
                            <a id="nav_fnf_mail" style="background:url('#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png');border: none" href="#">

                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-8 col-xs-6">
                    <ul class="nav" id="fnf_sub">
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/welcome.xhtml" >24FnF Account</a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/view.xhtml" ><div class="cc">Profile </div></a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/edit_profile.xhtml" ><div class="cc">Edit Profile</div></a> </li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/edit_privacy.xhtml" ><div class="cc">Privacy Settings</div></a> </li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/change_password.xhtml" ><div class="cc">Change Password</div></a> </li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/user/profile/add_contacts.xhtml" ><div class="cc"> Add Contact</div> </a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/sms/send_mobile.xhtml" ><div class="cc">Send SMS</div></a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/group/new_group.xhtml" ><div class="cc">Add Group</div></a></li>
                    </ul>

                    <ul class="nav" id="fnf_book_sub" style="display: none">
                        <li><a class="active" href="#">24FnF Account Book</a></li>
                        <li><a href="#"><div class="cc">Edit Profile Book</div></a></li>
                        <li><a href="#"><div class="cc">Privacy Settings Book</div></a></li>
                        <li><a href="#"><div class="cc">Change Password</div></a></li>
                        <li><a href="#"><div class="cc">Add Contact</div></a></li>
                        <li><a href="#"><div class="cc">Send SMS</div></a></li>
                        <li><a href="#"><div class="cc">Add Group</div></a></li>
                    </ul>

                    <ul class="nav" id="fnf_mail_sub" style="display: none">
                        <li><a class="active" href="#">24FnF Account Mail</a></li>
                        <li><a href="#"><div class="cc">Edit Profile Mail</div></a></li>
                        <li><a href="#"><div class="cc">Privacy Settings Mail</div></a></li>
                        <li><a href="#"><div class="cc">Change Password</div></a></li>
                        <li><a href="#"><div class="cc">Add Contact</div></a></li>
                        <li><a href="#"><div class="cc">Send SMS</div></a></li>
                        <li><a href="#"><div class="cc">Add Group</div></a></li>
                    </ul>

                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <h4 style="font-family: arial;font-weight: normal">Personal Information</h4>	
                    <hr/>
                    <div class="table-responsive"> 
                        <table id="customize_info_table" border="0" class="table table-striped table-hover">
                            <tr >
                                <td>Profile Picture</td>
                                <td colspan="2"><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/profile.jpg" /></td>
                            </tr>
                            <tr>
                                <td>24FnF Id </td>
                                <td><strong>Md.Ruhul Amin Robin</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>First Name </td>
                                <td><strong>Robin</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Last Name </td>
                                <td><strong>Robin</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Country </td>
                                <td><strong>Bangladesh</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Phone No </td>
                                <td><strong>99999999999</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Email </td>
                                <td><strong>robin.ece019@gmail.com</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td><strong>Male</strong></td>
                                <td class="profile_public">Public</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Chat part Start -->
                    <div style="" class="table-responsive chat_table_div"> 
                        <table id="customize_chat_table" class="table table-striped table-hover chat_table">
                            <tr>
                                <td colspan="4" id="friend_heading" style="padding: 8px;">Friends</td>
                            </tr>
                            <tr>
                                <td colspan="1" style="background: #ccc;">
                                    <select style="width: 55px;height: 29px">
                                        <option>All</option>
                                    </select>
                                </td>
                                <td colspan="3" style="background: #ccc">
                                    <input style="width: 172px;height: 18px;" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/online.png" /></td>
                                <td><img style="height:" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Md.Ruhul Amin Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/offline.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/online.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/offline.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/offline.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/offline.png" /></td>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/robin.jpg" /></td>
                                <td>Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>    
                        </table>
                    </div>
                    <!-- Chat part End -->

                    <!-- Group Chat part Start -->

                    <div style="height:360px;overflow-y:scroll;border-left: 1px solid #ddd" class="table-responsive"> 
                        <table id="customize_chat_table" class="table table-striped table-hover chat_table">
                            <tr>
                                <td colspan="4" style="background:#82B9FF;color:#fff;padding: 8px">Groups</td>
                            </tr>
                            <tr style="background: #ccc">
                                <td colspan="1" style="background: #ccc">
                                    Search
                                </td>
                                <td colspan="3" style="background: #ccc">
                                    <input style="width: 180px;height: 18px;" type="text" />
                                </td>
                            </tr>

                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Md.Ruhul Amin Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                            <tr>
                                <td><img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/groupIcon.png" /></td>
                                <td colspan="2">Robin</td>
                                <td><img class="message_icon" src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/messages-icon.png" /></td>
                            </tr>
                        </table>
                    </div>	

                    <!-- Group Chat part End -->
                </div>

            </div>
        </div>


        <!-- end #sidebar -->


        <div style="clear: both;">&nbsp;</div>
        <!-- end #page -->


        <div class="footer">
            <p style="color:#ffffff">&copy; 2011-2014 24FnF.</p>
        </div>


        <script src="#{facesContext.externalContext.requestContextPath}/bootstrap/js/bootstrap.min.js" type="text/javascript" ></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#nav_fnf').click(function() {
                    $(this).css('background-image', 'url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/login_menu_select.png)');
                    $('#nav_fnf_book').css("background", "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png) no-repeat");
                    $('#nav_fnf_mail').css("background", "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png) no-repeat");
                    $('#fnf_sub').show();
                    $('#fnf_book_sub').hide();
                    $('#fnf_mail_sub').hide();
                });
                $('#nav_fnf_book').click(function() {
                    $(this).css('background-image', 'url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/login_menu_select.png)');
                    $('#nav_fnf').css("background", "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png) no-repeat");
                    $('#nav_fnf_mail').css("background", "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png) no-repeat");
                    $('#fnf_sub').hide();
                    $('#fnf_book_sub').show();
                    $('#fnf_mail_sub').hide();
                });
                $('#nav_fnf_mail').click(function() {
                    $(this).css('background-image', 'url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/login_menu_select.png)');
                    $('#nav_fnf').css("background", "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png) no-repeat");
                    $('#nav_fnf_book').css("background", "url(#{facesContext.externalContext.requestContextPath}/bootstrap/image/link_back.png) no-repeat");
                    $('#fnf_sub').hide();
                    $('#fnf_book_sub').hide();
                    $('#fnf_mail_sub').show();
                });

            });
        </script>




        <style type="text/css">
            button, input[type="reset"], input[type="submit"], input[type="button"]  {
                border:1px solid #057eb5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:verdana, sans-serif; 
                padding: 5px 20px; text-shadow: 1px 1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #07A4EB;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#07A4EB), to(#0681B9));
                background-image: -webkit-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -moz-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -ms-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -o-linear-gradient(top, #07A4EB, #0681B9);
                background-image: linear-gradient(to bottom, #07A4EB, #0681B9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#07A4EB, endColorstr=#0681B9);
                margin:5px;
                cursor: pointer;
            }
            button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
                border:1px solid #045f88; background-color: #0681B9;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#0681B9), top(#045f88));
                background-image: -webkit-linear-gradient(top, #0681B9, #045f88);
                background-image: -moz-linear-gradient(top, #0681B9, #045f88);
                background-image: -ms-linear-gradient(top, #0681B9, #045f88);
                background-image: -o-linear-gradient(top, #0681B9, #045f88);
                background-image: linear-gradient(to bottom, #0681B9, #045f88);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0681B9, endColorstr=#045f88);

            }
        </style>
        <!-- end #footer -->
    </h:body>
</html>


