<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <h:head>
        <link href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico" type="image/x-icon" rel="icon"></link>
        <title>24FnF &raquo; All Time Free Call</title>

        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/default.css' rel="stylesheet" type="text/css" />
        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/style.css' rel="stylesheet" type="text/css" />
        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/hiphop.css' rel="stylesheet" type="text/css" />
        <link href='#{facesContext.externalContext.requestContextPath}/resources/css/style4.css' rel="stylesheet" type="text/css" />


        <!-- syntax highlighting for the code that is shown in the <code> tags -->
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/prettify.js"></script>
        <!--
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Droid+Sans|Quicksand:400,700,300"/>
        -->

        <!-- Slider -->
        <link rel="stylesheet" media="screen" href="#{facesContext.externalContext.requestContextPath}/resources/css/sequencejs-theme.apple-style.css" />
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.ba-hashchange.min.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/sequence.jquery-min.js"></script>
        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/sequencejs-options.apple-style.js"></script>

        <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.reveal.js"></script>
        <!-- F Tab -->				
        <ui:fragment rendered="#{view.viewId.contains('support.xhtml')}">
            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery-1.4.2.min.js"></script>
        </ui:fragment>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/javascript.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/script.js"></script>
      <!--  <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/mobile_redirect.js"></script>-->			
    </h:head>
    <h:body class="body"  >

        <div id="wrapper">
            <div id="header_top">
                <div id="panel">
                    <div class="content clearfix">
                    </div>
                </div> <!-- /login -->	
                <!-- The tab on top -->	
                <div class="tab">
                    <h:form>
                        <ul class="login">
                            <ui:fragment rendered="#{loginAction!=null and loginAction.loggedUserProfile.sessionId!=null}">
                               <li class="left">&nbsp;</li>
                                <li style="color: white;padding-top: 7px;font-size: 12px">
                                    <a href="#{facesContext.externalContext.requestContextPath}/secure/user/welcome.xhtml" > #{loginAction.loggedUserProfile.firstName}&nbsp;#{loginAction.loggedUserProfile.lastName} </a>
                                </li>
                                <li style="color:white; padding-top: 7px;">|</li>
                                <li style="padding-top: 7px;font-size: 12px">
                                    <div id="open" class="open" > <h:commandLink action="#{loginAction.signout()}" >Log Out</h:commandLink> </div>
                                    <a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
                                </li>
                                <li class="right">&nbsp;</li> 
                            </ui:fragment>
                            <ui:fragment rendered="#{loginAction==null or loginAction.loggedUserProfile.sessionId==null}">
                                <li class="left">&nbsp;</li>
                                <li style="color: white;padding-top: 7px; font-size: 12px">Hello Guest!</li>
                                <li class="sep"></li>
                                <li style="padding-top: 7px;font-size: 12px">
                                    <div id="open" class="open" ><h:commandLink styleClass="" action="/open/user/login.xhtml?faces-redirect=true">Sign in</h:commandLink> <b style="color: white">&nbsp;&nbsp;|&nbsp;&nbsp;</b> <h:commandLink styleClass="" action="/open/user/registration.xhtml?faces-redirect=true">Register</h:commandLink></div>
                                    <a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
                                </li>
                                <li class="right">&nbsp;</li> 
                            </ui:fragment>
                        </ul>
                    </h:form>
                </div> 
            </div>
            <div id="header">
                <div id="logo">
                </div>
                <ui:insert name="menu">
                </ui:insert>
            </div>
            <ui:insert name="slider" >
            </ui:insert>
            <ui:insert name="info" >
            </ui:insert>
            
            <div id="content_main">
                <div class="content_features">
                    <div class="content_left">
                        <ui:insert name="middle" ></ui:insert>
                    </div>
                    <div id="sequence"><div id="product_title"></div>
                        <div style="background: red">
                        <div onmouseout="contentImg(this)" class="content_download">
                            <a onmouseover="hoverImg(this)" onmouseout="normalImg(this)" href="https://play.google.com/store/apps/details?id=org.ipvision.sipua" target="_blank"><div  id="product_download1"></div></a>
                            <a href="https://itunes.apple.com/us/app/24fnf/id440482302" target="_blank"><div id="product_download2"></div></a>
                            <a href="http://www.windowsphone.com/en-us/store/app/24fnf/3a1e28c1-fe0d-40ab-91d9-fc2a7b933446" target="_blank"><div id="product_download4"></div></a>
                            <a href="#{facesContext.externalContext.requestContextPath}/download/with_JRE/24FnF.exe"><div id="product_download3"></div></a>
                            <a href="http://www.m.24fnf.com" target="_blank"><div id="product_mobile"></div></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
            <!-- end #page -->
        </div>
        <div id="footer">
            <p>© 2011-2013 24FnF.</p>
        </div>

        <script>
            function hoverImg(x)
            {
                x.style.background = "url('../resources/img/android_h.png') no-repeat";
            }

            function normalImg(x)
            {
                x.style.background = "url('../resources/img/android.png') no-repeat";
                x.style.background = "";
            }
        </script>
        
        <style type="text/css">

            button, input[type="reset"], input[type="submit"], input[type="button"]  {
                border:1px solid #057eb5; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:verdana, sans-serif; 
                padding: 5px 20px; text-shadow: 1px 1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #07A4EB;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#07A4EB), to(#0681B9));
                background-image: -webkit-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -moz-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -ms-linear-gradient(top, #07A4EB, #0681B9);
                background-image: -o-linear-gradient(top, #07A4EB, #0681B9);
                background-image: linear-gradient(to bottom, #07A4EB, #0681B9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#07A4EB, endColorstr=#0681B9);
                margin:5px;
                cursor: pointer;
            }

            button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
                border:1px solid #045f88; background-color: #0681B9;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#0681B9), top(#045f88));
                background-image: -webkit-linear-gradient(top, #0681B9, #045f88);
                background-image: -moz-linear-gradient(top, #0681B9, #045f88);
                background-image: -ms-linear-gradient(top, #0681B9, #045f88);
                background-image: -o-linear-gradient(top, #0681B9, #045f88);
                background-image: linear-gradient(to bottom, #0681B9, #045f88);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0681B9, endColorstr=#045f88);

            }
        </style>
        <!-- end #footer -->
    </h:body>
</html>