<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      >
    <h:head>
        <title>LiveChat</title>
      
        <link type="text/css" rel="stylesheet"  href="#{facesContext.externalContext.requestContextPath}/scripts/chat/live_chat.css" />
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/chat/chatwindow.js"></script>
    </h:head>
    <h:body>
        <h:form>
            <a4j:poll id="refresh_poll"  interval="1000"  action="#{loginAction.isChatSignOut()}"/>
        </h:form>
        <div id="chatbox_tester" class="chatbox">
            <div class="chatboxhead">
                <div class="chatboxtitle">tester</div>
                <div class="chatboxoptions"><a onclick="javascript:messenger.closeChatBox('tester')" href="javascript:void(0)">Logout</a></div>
                <br clear="all" />
            </div>
            <div class="chatboxcontent"></div>
            <div class="chatboxinput">
                <textarea onkeydown="javascript:return messenger.checkChatBoxInputKey(event, this, 'tester');" class="chatboxtextarea"></textarea>
                <img alt="EMO" src="http://localhost:8084/fnfweb/resources/img/smile_icon.png" onclick="javascript:return messenger.openEmoticon(this, 'tester');" class="emoticonBtn" />
            </div>
        </div>
        <div id="emoticons_changed">
            <div class="jtab">
                <ul >
                    <li class="tab_nav tab_nav_1"><div>Emoticon</div></li>
                    <li class="tab_nav tab_nav_2"><div>Sticker</div></li>
                </ul>
                <ul>
                    <li class="tab_body tab_body_1">
                        <h:outputText escape="false" value="#{chatWindowActivity.getEmoticonList()}" />
                    </li>
                    <li class="tab_body tab_body_2">
                        <h:outputText escape="false" value="#{chatWindowActivity.getStickerList()}" />
                    </li>
                </ul>
            </div>
        </div>
    </h:body>
</html>