<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>LiveChat</title>
        <style type="text/css">
            /* Mask for background, by default is not display */
            #mask {
                display: none;
                background: #000;
                position: fixed;
                left: 0;
                top: 0;
                z-index: 10;
                width: 100%;
                height: 100%;
                opacity: 0.8;
                z-index: 999;
            }

            /* You can customize to your needs  */
            .login-popup {
                background: #333;
                padding: 10px;
                border: 2px solid #ddd;
                float: left;
                font-size: 1.2em;

                box-shadow: 0px 0px 20px #999;
                /* CSS3 */
                -moz-box-shadow: 0px 0px 20px #999;
                /* Firefox */
                -webkit-box-shadow: 0px 0px 20px #999;
                /* Safari, Chrome */
                border-radius: 3px 3px 3px 3px;
                -moz-border-radius: 3px;
                /* Firefox */
                -webkit-border-radius: 3px;
                /* Safari, Chrome */;
            }

            img.btn_close {
                float: right;
                margin: -28px -28px 0 0;
            }

            fieldset {
                border: none;
            }

            form.signin .textbox label {
                display: block;
                padding-bottom: 7px;
            }

            form.signin .textbox span {
                display: block;
            }

            form.signin p, form.signin span {
                color: #999;
                font-size: 11px;
                line-height: 18px;
            }

            form.signin .textbox .input {
                background: #666666;
                border-bottom: 1px solid #333;
                border-left: 1px solid #000;
                border-right: 1px solid #333;
                border-top: 1px solid #000;
                color: #fff;
                border-radius: 3px 3px 3px 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                font: 13px Arial, Helvetica, sans-serif;
                padding: 6px 6px 4px;
                width: 200px;
            }

            form.signin input:-moz-placeholder {
                color: #bbb;
                text-shadow: 0 0 2px #000;
            }

            form.signin input::-webkit-input-placeholder {
                color: #bbb;
                text-shadow: 0 0 2px #000;
            }

            .button {
                background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
                background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
                background: -o-linear-gradient(top, #f3f3f3, #dddddd);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
                border-color: #000;
                border-width: 1px;
                border-radius: 4px 4px 4px 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                color: #333;
                cursor: pointer;
                display: inline-block;
                padding: 6px 6px 4px;
                margin-top: 10px;
                font: 12px;
                width: 214px;
            }

            .button:hover {
                background: #ddd;
            }
        </style>
    </h:head>
    <h:body>
        <div id="login-box" class="login-popup">
            #{loginAction.removePreviousSession()}
            #{loginAction.setErrorMessage("")}
            <h:outputText  value="#{loginAction.getSignOutMessage()}"/>
            <h:form id="loginForm" styleClass="signin">
                <fieldset class="textbox">
                    <label class="username">
                        <span>Username or email</span>
                        <h:inputText styleClass="input" requiredMessage="Please Enter 24FnF ID." label="User Id" id="userIdentity"  value="#{loginAction.userIdentity}" required="true">
                            <f:validateLength minimum="3" maximum="50" />
                        </h:inputText>
                        <h:message style="color: red" for="userIdentity"  />
                    </label>
                    <label class="password">
                        <span>Password</span>
                        <h:inputSecret styleClass="input" requiredMessage="Please Enter Password." label="Password" id="password" value="#{loginAction.password}" required="true" >
                            <f:validateLength minimum="3" maximum="50" />
                        </h:inputSecret>
                        <h:message style="color: red" for="password"  />
                    </label>
                    <h:commandButton action="#{loginAction.liveChatLogin()}" value="Login" styleClass="submit button"/><br /> 
                </fieldset>
            </h:form>
        </div>
    </h:body>
</html>
