<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <ui:composition template="/secure/user/user_template.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="userdetails">

            <br />
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>   
                        <h4>Send SMS</h4>
                    </th>   
                </tr>
            </table>

            <h:outputText  value="#{userHomeAction.setProfile(param['friend'])}"/>

            <h:outputText  value=""/>

            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td>   
                        <h5>#{userHomeAction.userProfile.firstName} &nbsp;#{userHomeAction.userProfile.lastName}</h5>
                    </td>   
                </tr>
                <tr>
                    <td>
                        #{smsAction.setFriendName(userHomeAction.userProfile.userIdentity)}
                        #{smsAction.setErrorMessage("")}
                        #{smsAction.setMessage("")}
                        #{smsAction.setMobilePhone(userHomeAction.userProfile.mobilePhone) }
                    </td>
                </tr>
            </table>


            <h:form id="smsForm">
                <table  class="table table-striped table-hover">
                    <tr>
                        <td align="center" colspan="2"><h:outputLabel class="edit-success-message" value="#{smsAction.errorMessage}" /></td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Mobile No* " />
                        </td>
                        <td>
                            <h:outputLabel class="edit-success-message" value="#{smsAction.mobilePhone}" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Message* " />
                        </td>
                        <td>
                            <h:inputTextarea value="#{smsAction.message}" style="overflow:auto;resize:none" requiredMessage="Please Enter Your Message" required="true" id="message" rows="5" cols="40">
                                <f:validateRequired />
                                <rich:validator /> 
                            </h:inputTextarea>
                            <h:message style="color: red;display:block;" for="message"  />
                            <h:inputHidden value="#{smsAction.mobilePhone}"></h:inputHidden>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a4j:commandButton styleClass="btn btn-show-more" render="smsForm,message"  value="Send" action="#{smsAction.sendSMS()}" />
                        </td>
                    </tr>
                </table>
            </h:form>

        </ui:define>
    </ui:composition>
</html>