<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">

    <ui:composition template="/commons/userMainTemplate.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="menu">

            <div id="menu">
                <ul class="navbar main_nav_style">

                    <!-- Home -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/index.xhtml">Home</a></li>

                    <!-- Why 24FnF -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/why_fnf.xhtml">Why 24FnF</a></li>

                    <!-- Downloads -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/download.xhtml">Downloads</a></li>

                    <!-- Features -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesiContext.externalContext.requestContextPath}/welcome/features.xhtml">Features</a></li>

                    <!-- Support -->
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/support.xhtml">Support</a></li>
                    <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                </ul>
            </div>
        </ui:define>
        <ui:define name="middle">
            #{loginAction.removePreviousSession()}
            #{loginAction.setErrorMessage("")}
            <h:outputText  value="#{loginAction.getSignOutMessage()}"/>
            <h:form id="loginForm" >
                <div id="padding_top_25_px">
                    <div id="login-box">
                        <p id="login_header">
                            <span id="login_header_already">ALREADY HAVE AN </span><span id="login_header_account">ACCOUNT?</span> 
                        </p>
                        <p id="login_header_below">Fill up the below form to get access to our site / app</p>

                        <div style="margin: 20px auto">
                            <h:outputText style="display:block;color:#f00;text-transform: capitalize;font-weight:bold;margin:10px;" value="#{loginAction.errorMessage}" />
                            <div id="login-box-field" style="border:1px solid #cccccc;width: 327px;background: white">
                                <div style="width: 8%;float: left;">
                                    <img style="margin-top: 4px;" src="#{facesContext.externalContext.requestContextPath}/resources/img/icon_username.png" />
                                </div>
                                <div style="width: 89%;float: right">
                                   
                                
                                
                                    <table>
                                
                                
                                
                                
                
                    <tr class="tr">
                      
                        <td class="td2">
                              <h:selectOneMenu class="editbox3" id="country" value="#{loginAction.country}" required="true"
                                             requiredMessage="Country Required"
                                             validatorMessage="Country Required"
                                             onchange="">

                               
                                <f:selectItems var="con" itemLabelEscaped="true"  value="#{countrybean.countries_list}" itemValue="#{con.toString()}" itemLabel="#{con.toString()}" >
                                </f:selectItems>

                                <a4j:ajax listener="#{loginAction.getCountryCode(loginAction.country)}"  event="click" render="mobcode" >
                                </a4j:ajax>
                                <rich:validator /> 

                            </h:selectOneMenu>
                            
                            <h:outputText class="editbox2" id="mobcode" value="#{loginAction.country_code}"/>
                            <h:inputText requiredMessage="Please enter Phone No" required="true" class="editbox1" value="#{loginAction.phoneNo}" id="mobilePhone" label="Mobile Phone:">
                                <f:validateLength minimum="3" maximum="30" />
                                <f:validateRequired />
                                <rich:validator /> 
                            </h:inputText>

                            <h:message  for="mobilePhone" style="color:red; font-size: 10px;padding-left: 20px;" />
                        </td>
                    </tr>
                                
                                
                          </table>      
                                
                                
                                
                                
                                
                                
                                
                                </div>
                            </div>
                            
                            <div id="login-box-field" style="border:1px solid #cccccc;width: 327px;background: white;margin-top: 10px">
                                <div style="width: 8%;float: left">
                                    <img style="margin-top: 4px;" src="#{facesContext.externalContext.requestContextPath}/resources/img/icon_password.png" />
                                </div>
                                <div style="width: 89%;float: right">
                                    <h:inputSecret styleClass="form-login" requiredMessage="Please Enter Password." label="Password" id="password" value="#{loginAction.password}" required="true" >
                                        <f:validateLength minimum="3" maximum="50" />
                                    </h:inputSecret>
                                    <span><h:message style="color: red" for="password"  /></span>
                                </div>
                            </div>
                            

                            <div style="margin-left:105px;">
                                <a4j:commandLink value="Forgot Your Password?" styleClass="jforgotPassword" style="color:#666666;text-decoration:underline;font-weight: bold;line-height: 13px;float: right;margin-right: 6px" /> 
                                <br /><a style="color:#666666;text-decoration:underline;font-weight: bold;float: right;margin-right: 6px" href="#{facesContext.externalContext.requestContextPath}/open/user/reset_password.xhtml">Reset Your Password</a>
                                <a4j:commandButton action="#{loginAction.signin()}" value="LOGIN" style="background: url('#{facesContext.externalContext.requestContextPath}/resources/img/Login.png') no-repeat 1% 138%;width: 116px;height: 50px;border: none;" render="loginForm" /><br />
                            </div>
                       

                        </div>
                    </div>
                </div>
            </h:form>
            <div id="forgotPassword" style="display: none;">
                <h:form id="forgotPasswordForm">
                    <div style="padding-top: 25px;">
                        <div id="login-box">
                            <p style="font-size: 30px;font-family: Myriad Pro;text-align: center;">
                            <span style="font-weight:normal;line-height: 23px;font-size: 25px;">Forgot </span><span style="font-weight:600;line-height: 23px;font-size: 25px;">Password?</span> 
                        </p>
                            
                            <div style="margin: 20px auto">
                                <h:outputText style="display:block;color:#fff;font-weight:bold;margin:10px;" value="#{loginAction.errorMessage}" />
                                <div id="login-box-name"><span style="color: #666666;font-family: Myriad Pro;text-align: center;">24FnF ID:</span></div>
                                    <br /><h:inputText styleClass="form-login" requiredMessage="Please Enter 24FnF ID." label="User Id" id="userIdentity" value="#{loginAction.userIdentity}" required="true" >
                                        <f:validateLength minimum="3" maximum="50" />
                                    </h:inputText>
                                    <h:message style="color: red" for="userIdentity"  />
                                <br />
                                <a4j:commandButton style="margin-top: 20px" action="#{loginAction.forgotPassword()}" value="Send" styleClass="login_button" render="forgotPasswordForm" />
                                <a4j:commandLink value="Back To Login" styleClass="jlogin" style="color: #666666;font-family: Myriad Pro;" />
                            </div>
                        </div>
                    </div>
                </h:form>
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    $('.jforgotPassword').live('click', function() {
                        $('#loginForm').css("display", "none");
                        $('#forgotPassword').css("display", "block");
                    });
                    $('.jlogin').live('click', function() {
                        $('#loginForm').css("display", "block");
                        $('#forgotPassword').css("display", "none");
                    });
                });
            </script>
        </ui:define>
    </ui:composition>
</html>