<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:body>
     
        <h:form id="checkCertsForm">

            <h:dataTable id="certificateChainTable" var="cert"
                         value="#{checkCertsBean.serverCerts}"
                         rowClasses="preformatted" footerClass="darkTableRow">
                <f:facet name="header">
                    <h:outputText value="#{viewProperties.prompt_check_certs}"/>
                </f:facet>

                <h:column>
                    <h:outputText value="#{cert}"/>
                </h:column>
                <f:facet name="footer">

                    <span>

                        <h:outputText value="#{viewProperties.prompt_whether_to_trust_certs} "/>
                        <h:commandButton value="#{viewProperties.button_yes}"
                                         action="#{checkCertsController.certsTrusted}"
                                         styleClass="commandButton"/>
                        <h:commandButton value="#{viewProperties.button_no}"
                                         action="#{checkCertsController.certsNotTrusted}"
                                         styleClass="commandButton"/>
                    </span>
                </f:facet>

            </h:dataTable>

        </h:form>
    </h:body>
</html>

