<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"  
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:cuic="http://customtag.com/cust">
    <ui:composition template="mail_template.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="userdetails"> 
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>

            <h:form id="mailsListingForm">    
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <ui:include src="/commons/leftmenu.xhtml"/> 
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-8 col-xs-6">
                        <ul class="nav" id="fnf_sub">
                            <li>
                                <h:commandLink action="createMail">
                                    <h:panelGroup styleClass="btn btn-primary" >
                                        <t:htmlTag value="i" styleClass="glyphicon glyphicon-edit"/>
                                        <a4j:commandButton 
                                            value="#{viewProperties.button_create_new_mail}" 
                                            style="background:none;border:none"
                                            onclick="utilities.callSpinner('mailsListingForm')"/>                                    
                                    </h:panelGroup>                                    
                                </h:commandLink>
                            </li>
                            <li>
                                <a4j:commandLink 
                                    action="#{mailsListingController.changeToDesiredFolder}" 
                                    onclick="utilities.callSpinner('mailsListingForm')" 
                                    id="linkToInbox" 
                                    render="koo" 
                                    oncomplete="utilities.stopSpinner()" 
                                    styleClass="commonLeftMenu" 
                                    rel="INBOX"
                                    immediate="true"
                                    >
                                    <f:param name="folderName" value="INBOX"/>                                    
                                    <t:htmlTag value="i" styleClass="glyphicon glyphicon-envelope"/>
                                    <h:outputText value=" Inbox"/>
                                    <t:htmlTag value="span" styleClass="badge" rendered="#{folderWrapperBean.hasUnreadMessages}">
                                        <h:outputText value="#{folderWrapperBean.counter}"/>
                                    </t:htmlTag>
                                </a4j:commandLink>
                            </li>
                            <li>
                                <a4j:commandLink 
                                    action="#{mailsListingController.changeToDesiredFolder}" 
                                    onclick="utilities.callSpinner('mailsListingForm');" 
                                    render="koo" 
                                    oncomplete="utilities.stopSpinner()" 
                                    styleClass="commonLeftMenu" 
                                    rel="DRAFTS"
                                    immediate="true"
                                    >
                                    <f:param name="folderName" value="DRAFTS"/>

                                    <t:htmlTag value="i" styleClass="glyphicon glyphicon-floppy-saved"/>
                                    <h:outputText value=" Draft"/>
                                </a4j:commandLink>
                            </li>
                            <li>
                                <a4j:commandLink 
                                    action="#{mailsListingController.changeToDesiredFolder}" 
                                    onclick="utilities.callSpinner('mailsListingForm')" 
                                    render="koo" 
                                    oncomplete="utilities.stopSpinner()" 
                                    styleClass="commonLeftMenu" 
                                    rel="SENT"
                                    immediate="true"
                                    >
                                    <f:param name="folderName" value="SENT"/>

                                    <t:htmlTag value="i" styleClass="glyphicon glyphicon-export"/>
                                    <h:outputText value=" Sent"/>
                                </a4j:commandLink>
                            </li>
                            <li>
                                <a href="#" onclick="javascript:{
                                            alert('Sorry! not implemented yet!')
                                        }"><i class="glyphicon glyphicon-minus-sign"></i> Spam</a>
                            </li>
                            <li>
                                <a4j:commandLink 
                                    action="#{mailsListingController.changeToDesiredFolder}" 
                                    onclick="utilities.callSpinner('mailsListingForm')" 
                                    render="koo" 
                                    oncomplete="utilities.stopSpinner()" 
                                    styleClass="commonLeftMenu" 
                                    rel="TRASH"
                                    immediate="true"
                                    >
                                    <f:param name="folderName" value="TRASH"/>

                                    <t:htmlTag value="i" styleClass="glyphicon glyphicon-trash"/>
                                    <h:outputText value=" Trash"/>
                                </a4j:commandLink>
                            </li>
                            <li>

                                <a href="#"><i class="glyphicon glyphicon-folder-open"></i>  &nbsp; Folders <span class="fa arrow"></span></a>

                                <t:htmlTag value="ul" styleClass="nav nav-second-level">

                                    <t:dataList var="currentFolder"
                                                value="#{sessionContainerBean.mailboxConnection.allFoldersList}"
                                                rowCountVar="sfRowCount" rowIndexVar="sfRowIndex"
                                                styleClass="preformatted"
                                                itemStyleClass="jfolderDeleteLink" binding="#{mailsListingController.folderTable}">
                                        <t:htmlTag value="li">

                                            <t:div 
                                                styleClass="preformatted jfolderDeleteLink" 
                                                lang="#{currentFolder.name}" 
                                                title="#{currentFolder.fullName}" 
                                                dir="#{folderWrapperBean.folder.fullName}"
                                                >
                                                <cuic:outputPerFolderLevel value="#{currentFolder}" content=" "/>
                                                <a4j:commandLink 
                                                    rendered="#{currentFolder.fullName ne sessionContainerBean.defaultFolder}"
                                                    styleClass="folderLink" 
                                                    action="#{mailsListingController.changeFolder}" 
                                                    onclick="utilities.callSpinner('mailsListingForm')" >
                                                    <h:outputText title="#{currentFolder.fullName}" value=" #{currentFolder.name}"/>     
                                                </a4j:commandLink>
                                                <h:commandLink styleClass="#{currentFolder.name} forceHideDeleteButton" style="display:none" action="#{mailsListingController.deleteSubfolder}" onclick="if (!confirm('Are you sure?'))
                                                            return false">
                                                    <h:graphicImage alt="get new mail" url="images/icon-05.png" />          
                                                </h:commandLink>
                                            </t:div>
                                        </t:htmlTag>
                                    </t:dataList>
                                    <li>                                        
                                        <a data-toggle="collapse" data-target="#demo">
                                            Create Folder
                                        </a>
                                        <div id="demo" class="collapse">
                                            <div class="form-group">&nbsp;
                                                <h:inputText id="newSubfolder"
                                                             styleClass="form-control"
                                                             value="#{folderManagementBean.newSubfolder}"
                                                             disabled="#{! folderWrapperBean.subfolderPossible}"/>
                                            </div>
                                            <h:commandButton value="#{viewProperties.button_create_folder}" 
                                                             onclick="utilities.callSpinner('mailsListingForm')"
                                                             styleClass=" col-sm-offset-2 btn btn-default"
                                                             action="#{mailsListingController.createSubfolder}"
                                                             disabled="#{! folderWrapperBean.subfolderPossible}"/>
                                        </div>
                                    </li>
                                </t:htmlTag>
                            </li>

                        </ul>

                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>


                            </div>

                            <ul class="nav navbar-top-links navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">                                                   
                                        <h:outputText value=" #{loginDataBean.mailboxUser}"/> 

                                        <i class="glyphicon glyphicon-user"></i>  <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">                                    
                                        <li>
                                            <h:outputLink styleClass="fa fa-gear fa-fw" target="_blank" value="#{viewProperties.link_help_overview}">
                                                <h:outputText value="#{viewProperties.button_help}"/>
                                            </h:outputLink>
                                        </li>

                                        <li class="divider"></li>
                                        <li>
                                            <h:commandLink styleClass="fa fa-wrench" action="#{logonController.showSettings()}" immediate="true" value="Settings"/>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <!--  start -->


                        <div class="row" style="border-bottom: 1px solid #ededed">
                            <div class="col-lg-1">  
                            </div>
                            <div class="col-lg-6">
                                <div class="btn-group ">
                                    <h:panelGroup styleClass="btn btn-default" >                                        
                                        <h:graphicImage alt="reply" url="images/icon-14.png" />
                                        <h:commandButton 
                                            value="#{viewProperties.button_reply}" 
                                            id="replyButton"
                                            style="background:none;border:none"
                                            action="#{displayMailController.createReMail}" />                                       
                                        <h:outputText value=" | "/>                                        
                                        <h:commandButton 
                                            value="#{viewProperties.prompt_to_all}" 
                                            id="replyToAllButton"
                                            style="background:none;border:none"
                                            action="#{displayMailController.createReToAllMail}" />                                        
                                    </h:panelGroup>

                                    <span class="btn btn-default" onclick="onButtonPressed('mailsListingForm:forwardMail')">
                                        <h:graphicImage alt="forward" url="images/icon-09.png" />
                                        <h:commandButton 
                                            value="#{viewProperties.button_forward_mail}" 
                                            id="forwardMail"
                                            style="background:none;border:none"
                                            action="#{displayMailController.createFwdMail}" />                                    
                                    </span>

                                    <h:panelGroup styleClass="btn btn-default singleMailDeleteStyle">
                                        <t:htmlTag value="i" styleClass="glyphicon glyphicon-trash"/>
                                        <h:commandButton 
                                            value="#{viewProperties.button_delete_mail}"
                                            style="background:none;border:none"
                                            onclick="if (!confirm('Are you sure?'))
                                                        return false"
                                            action="#{displayMailController.deleteMail}"/>                                    
                                    </h:panelGroup>  

                                    <span class="btn btn-default" onclick="onButtonPressed('mailsListingForm:backToSummary')">
                                        <h:commandButton 
                                            value="#{viewProperties.button_back_to_summary}" 
                                            id="backToSummary"
                                            style="background:none;border:none"
                                            action="mailsListing" />                                    
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- /.panel-heading -->
                                <div class="panel-body  panel-default">
                                    <table class="tbl" >
                                        <thead>
                                            <tr>
                                                <th><h:outputText value="#{viewProperties.label_subject}"/></th>
                                                <th><h:outputText value="#{(! empty displayMessageBean.originMessage.subject) ? displayMessageBean.originMessage.subject : viewProperties.prompt_no_subject}"/>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th><h:outputText value="#{viewProperties.label_from}" rendered="#{! empty displayMessageBean.originMessage.from}"/></th>
                                                <th><t:dataList rendered="#{! empty displayMessageBean.originMessage.from}"
                                                                value="#{displayMessageBean.originMessage.from}" var="actFrom"
                                                                rowCountVar="fromRowCount" rowIndexVar="fromRowIndex">
                                                        <h:outputText value="#{actFrom.personal}" rendered="#{! empty actFrom.personal}"/>
                                                        <h:outputText value=" &#060;" rendered="#{! empty actFrom.personal}"/>
                                                        <h:outputText value="#{actFrom.address}"/>
                                                        <h:outputText value="&#062;" rendered="#{! empty actFrom.personal}"/>
                                                        <h:outputText value="," rendered="#{fromRowIndex lt (fromRowCount - 1)}"/>
                                                    </t:dataList></th>
                                            </tr>
                                            <tr>
                                                <th><h:outputText value="#{viewProperties.label_sendDate}"/></th>
                                                <th><h:outputText value="#{displayMessageBean.originMessage.sentDate}">
                                                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm"/>
                                                    </h:outputText></th>
                                            </tr>
                                            <tr>
                                                <th><h:outputText value="#{viewProperties.label_replyTo}" rendered="#{(! empty displayMessageBean.originMessage.replyTo) and (displayMessageBean.originMessage.replyTo[0] != displayMessageBean.originMessage.from[0])}"/>
                                                </th>
                                                <th>
                                                    <t:dataList rendered="#{(! empty displayMessageBean.originMessage.replyTo) and (displayMessageBean.originMessage.replyTo[0] != displayMessageBean.originMessage.from[0])}"
                                                                value="#{displayMessageBean.originMessage.replyTo}" var="actReplyTo"
                                                                rowCountVar="replyToRowCount" rowIndexVar="replyToRowIndex">
                                                        <h:outputText value="#{actReplyTo.personal}" rendered="#{! empty actReplyTo.personal}"/>
                                                        <h:outputText value=" &#060;" rendered="#{! empty actReplyTo.personal}"/>
                                                        <h:outputText value="#{actReplyTo.address}"/>
                                                        <h:outputText value="&#062;" rendered="#{! empty actReplyTo.personal}"/>
                                                        <h:outputText value="," rendered="#{fromRowIndex lt (fromRowCount - 1)}"/>
                                                    </t:dataList>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th><h:outputText value="#{viewProperties.label_toRecipient}" rendered="#{! empty displayMessageBean.toRecipients}"/></th>
                                                <th><t:dataList rendered="#{! empty displayMessageBean.toRecipients}"
                                                                value="#{displayMessageBean.toRecipients}" var="actTo"
                                                                rowCountVar="toRowCount" rowIndexVar="toRowIndex">
                                                        <h:outputText value="#{actTo.personal}"
                                                                      rendered="#{! empty actTo.personal}"/>
                                                        <h:outputText value=" &#060;" rendered="#{! empty actTo.personal}"/>
                                                        <h:outputText value="#{actTo.address}"/>
                                                        <h:outputText value="&#062;" rendered="#{! empty actTo.personal}"/>
                                                        <h:outputText value=","
                                                                      rendered="#{toRowIndex lt (toRowCount - 1)}"/>
                                                    </t:dataList></th>
                                            </tr>
                                            <tr>
                                                <th><h:outputText value="#{viewProperties.label_ccRecipient}" rendered="#{! empty displayMessageBean.ccRecipients}"/></th>
                                                <th><t:dataList rendered="#{! empty displayMessageBean.ccRecipients}"
                                                                value="#{displayMessageBean.ccRecipients}" var="actCc"
                                                                rowCountVar="ccRowCount" rowIndexVar="ccRowIndex">
                                                        <h:outputText value="#{actCc.personal}"
                                                                      rendered="#{! empty actCc.personal}"/>
                                                        <h:outputText value=" &#060;" rendered="#{! empty actCc.personal}"/>
                                                        <h:outputText value="#{actCc.address}"/>
                                                        <h:outputText value="&#062;" rendered="#{! empty actCc.personal}"/>
                                                        <h:outputText value=","
                                                                      rendered="#{ccRowIndex lt (ccRowCount - 1)}"/>
                                                    </t:dataList>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th><h:outputText value="#{viewProperties.label_bccRecipient}" rendered="#{! empty displayMessageBean.bccRecipients}"/></th>
                                                <th><t:dataList rendered="#{! empty displayMessageBean.bccRecipients}"
                                                                value="#{displayMessageBean.bccRecipients}" var="actBcc"
                                                                rowCountVar="bccRowCount" rowIndexVar="bccRowIndex">
                                                        <h:outputText value="#{actBcc.personal}"
                                                                      rendered="#{! empty actBcc.personal}"/>
                                                        <h:outputText value=" &#060;" rendered="#{! empty actBcc.personal}"/>
                                                        <h:outputText value="#{actBcc.address}"/>
                                                        <h:outputText value="&#062;" rendered="#{! empty actBcc.personal}"/>
                                                        <h:outputText value=","
                                                                      rendered="#{bccRowIndex lt (bccRowCount - 1)}"/>
                                                    </t:dataList>
                                                </th>
                                            </tr>
                                            <tr><th>&nbsp;</th><th>&nbsp;</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <br/><br/>
                                                    <t:dataList value="#{displayMessageBean.displayParts}" 
                                                                var="curPart" 
                                                                styleClass="clearTableRow"
                                                                rowCountVar="partRowCount" rowIndexVar="partRowIndex">
                                                        
                                                        <cuic:htmlTagIf value="div" 
                                                                        styleClass="mailParts"
                                                                        bean="#{curPart}"
                                                                        comparison="ContentType" 
                                                                        expectedValue="text/plain">
                                                            <cuic:outputPlainTextPart value="#{curPart}" styleClass="fixWidthChars"/>
                                                        </cuic:htmlTagIf>

                                                        <cuic:htmlTagIf value="div" styleClass="mailParts" bean="#{curPart}"
                                                                        comparison="ContentType"
                                                                        expectedValue="text/html,text/enriched">
                                                            <div id="thisIshtmlValueHolder"></div>
                                                            <h:outputText
                                                                value="#{partRowIndex}"
                                                                styleClass="partRowIndexValueHolder"
                                                                style="display: none"
                                                                />
                                                        </cuic:htmlTagIf>

                                                        <cuic:htmlTagIf value="div" styleClass="mailParts" bean="#{curPart}"
                                                                        comparison="ContentType"
                                                                        expectedValue="image/gif,image/jpeg,image/jpg,image/png">

                                                            <h:graphicImage alt="#{curPart.fileName}"
                                                                            url="#{facesContext.externalContext.requestContextPath}/retrieveDisplayPartContentServlet.svl?partNumber=#{partRowIndex}"/>

                                                            <t:htmlTag value="br"/>
                                                            <t:htmlTag value="br"/>
                                                            <br/>
                                                            <h:outputText value="["/>
                                                            <h:outputLink target="_blank"
                                                                          value="#{facesContext.externalContext.requestContextPath}/retrieveDisplayPartContentServlet.svl">
                                                                <f:param name="partNumber" value="#{partRowIndex}"/>
                                                                <h:outputText
                                                                    value="#{curPart.fileName} (#{curPart.contentType})"/>
                                                            </h:outputLink>
                                                            <h:outputText value="]"/>

                                                        </cuic:htmlTagIf>

                                                        <cuic:htmlTagIf value="div" styleClass="mailParts" bean="#{curPart}"
                                                                        comparison="ContentType" reverse="true"
                                                                        expectedValue="text/plain,text/html,text/enriched,image/gif,image/jpeg,image/jpg,image/png">
                                                            <h:outputText value="["/>
                                                            <h:outputLink target="_blank"
                                                                          value="#{facesContext.externalContext.requestContextPath}/retrieveDisplayPartContentServlet.svl">
                                                                <f:param name="partNumber" value="#{partRowIndex}"/>
                                                                <h:outputText
                                                                    value="#{curPart.fileName} (#{curPart.contentType})"/>
                                                            </h:outputLink>
                                                            <h:outputText value="]"/>

                                                        </cuic:htmlTagIf>

                                                        <t:htmlTag value="hr" styleClass="mailPartSeparator"
                                                                   rendered="#{partRowIndex lt (partRowCount - 1)}"/>

                                                    </t:dataList>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                    </div>



                </div>
            </h:form>




            <script type="text/javascript">
         
  $(document).ready(function(){
                console.log('input --> '+$('.partRowIndexValueHolder').text());
                utilities.htmlContentRead($('.partRowIndexValueHolder').text());
            });

                $(".jfolderDeleteLink").hover(function() {
                    $('.' + $(this).attr('lang')).show();
                }, function() {
                    $('.' + $(this).attr('lang')).hide();
                });
                function onButtonPressed(id) {
                    document.getElementById(id).click();
                }

            </script>  

        </ui:define>
    </ui:composition>
</html>


