<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"  
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:cuic="http://customtag.com/cust">
    <ui:composition template="mail_template.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="userdetails"> 
            
            
             <h:form id="mailsListingForm">    
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <ui:include src="/commons/leftmenu.xhtml"/> 
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-8 col-xs-6">
                        <ul class="nav" id="fnf_sub">
                            <li>
                                <h:commandLink action="createMail">
                                    <h:panelGroup styleClass="btn btn-primary" >
                                        <t:htmlTag value="i" styleClass="glyphicon glyphicon-edit"/>
                                        <a4j:commandButton 
                                            value="#{viewProperties.button_create_new_mail}" 
                                            style="background:none;border:none"
                                            onclick="utilities.callSpinner('mailsListingForm')"/>                                    
                                    </h:panelGroup>                                    
                                </h:commandLink>
                            </li>
                            <li>
                            
                                <a4j:commandLink  action="#{mailsListingController.changeToDesiredFolder}" 
                                                  onclick="utilities.callSpinner('mailsListingForm')"
                                                  id="linkToInbox" 
                                                  render="koo" oncomplete="utilities.stopSpinner()"
                                                  styleClass="commonLeftMenu" rel="INBOX">
                                    <f:param name="folderName" value="INBOX"/>
                                    <f:param name="mailsListing" value="false"/>
                                    <t:htmlTag value="i" styleClass="glyphicon glyphicon-envelope"/>
                                    <h:outputText value=" Inbox"/>
                                    <t:htmlTag value="span" styleClass="badge" rendered="#{folderWrapperBean.hasUnreadMessages}">
                                        <h:outputText value="#{folderWrapperBean.counter}"/>
                                    </t:htmlTag>
                                </a4j:commandLink>
                            </li>
                            <li>
                                <a4j:commandLink action="#{mailsListingController.changeToDesiredFolder}" onclick="utilities.callSpinner('mailsListingForm');" render="koo" oncomplete="utilities.stopSpinner()" styleClass="commonLeftMenu" rel="DRAFTS">
                                    <f:param name="folderName" value="DRAFTS"/>
                                    <f:param name="mailsListing" value="false"/>
                                    <t:htmlTag value="i" styleClass="glyphicon glyphicon-floppy-saved"/>
                                    <h:outputText value=" Draft"/>
                                </a4j:commandLink>
                            </li>
                            <li>
                                <a4j:commandLink action="#{mailsListingController.changeToDesiredFolder}" onclick="utilities.callSpinner('mailsListingForm')" render="koo" oncomplete="utilities.stopSpinner()" styleClass="commonLeftMenu" rel="SENT">
                                    <f:param name="folderName" value="SENT"/>
                                    <f:param name="mailsListing" value="false"/>
                                    <t:htmlTag value="i" styleClass="glyphicon glyphicon-export"/>
                                    <h:outputText value=" Sent"/>
                                </a4j:commandLink>
                            </li>
                            <li>
                                <a href="#" onclick="javascript:{
                                            alert('Sorry! not implemented yet!')
                                        }"><i class="glyphicon glyphicon-minus-sign"></i> Spam</a>
                            </li>
                            <li>
                                <a4j:commandLink action="#{mailsListingController.changeToDesiredFolder}" onclick="utilities.callSpinner('mailsListingForm')" render="koo" oncomplete="utilities.stopSpinner()" styleClass="commonLeftMenu" rel="TRASH">
                                    <f:param name="folderName" value="TRASH"/>
                                    <f:param name="mailsListing" value="false"/>
                                    <t:htmlTag value="i" styleClass="glyphicon glyphicon-trash"/>
                                    <h:outputText value=" Trash"/>
                                </a4j:commandLink>
                            </li>
                            <li>

                                <a href="#"><i class="glyphicon glyphicon-folder-open"></i>  &nbsp; Folders <span class="fa arrow"></span></a>

                                <t:htmlTag value="ul" styleClass="nav nav-second-level">

                                    <t:dataList var="currentFolder"
                                                value="#{sessionContainerBean.mailboxConnection.allFoldersList}"
                                                rowCountVar="sfRowCount" rowIndexVar="sfRowIndex"
                                                styleClass="preformatted"
                                                itemStyleClass="jfolderDeleteLink" binding="#{mailsListingController.folderTable}">
                                        <t:htmlTag value="li">

                                            <t:div 
                                                styleClass="preformatted jfolderDeleteLink" 
                                                lang="#{currentFolder.name}" 
                                                title="#{currentFolder.fullName}" 
                                                dir="#{folderWrapperBean.folder.fullName}"
                                                >
                                                <cuic:outputPerFolderLevel value="#{currentFolder}" content=" "/>
                                                <a4j:commandLink 
                                                    rendered="#{currentFolder.fullName ne sessionContainerBean.defaultFolder}"
                                                    styleClass="folderLink" 
                                                    action="#{mailsListingController.changeFolder}" 
                                                    onclick="utilities.callSpinner('mailsListingForm')" >
                                                    <h:outputText title="#{currentFolder.fullName}" value=" #{currentFolder.name}"/>     
                                                </a4j:commandLink>
                                                <h:commandLink styleClass="#{currentFolder.name} forceHideDeleteButton" style="display:none" action="#{mailsListingController.deleteSubfolder}" onclick="if (!confirm('Are you sure?'))
                                                            return false">
                                                    <h:graphicImage alt="get new mail" url="images/icon-05.png" />          
                                                </h:commandLink>
                                            </t:div>
                                        </t:htmlTag>
                                    </t:dataList>
                                    <li>                                        
                                        <a data-toggle="collapse" data-target="#demo">
                                            Create Folder
                                        </a>
                                        <div id="demo" class="collapse">
                                            <div class="form-group">&nbsp;
                                                <h:inputText id="newSubfolder"
                                                             styleClass="form-control"
                                                             value="#{folderManagementBean.newSubfolder}"
                                                             disabled="#{! folderWrapperBean.subfolderPossible}"/>
                                            </div>
                                            <h:commandButton value="#{viewProperties.button_create_folder}" 
                                                             onclick="utilities.callSpinner('mailsListingForm')"
                                                             styleClass=" col-sm-offset-2 btn btn-default"
                                                             action="#{mailsListingController.createSubfolder}"
                                                             disabled="#{! folderWrapperBean.subfolderPossible}"/>
                                        </div>
                                    </li>
                                </t:htmlTag>
                            </li>

                        </ul>

                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                       
                             <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            

                            </div>

                            <ul class="nav navbar-top-links navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">                                                   
                                        <h:outputText value=" #{loginDataBean.mailboxUser}"/> 
                                       
                                        <i class="glyphicon glyphicon-user"></i>  <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">                                    
                                        <li>
                                            <h:outputLink styleClass="fa fa-gear fa-fw" target="_blank" value="#{viewProperties.link_help_overview}">
                                                <h:outputText value="#{viewProperties.button_help}"/>
                                            </h:outputLink>
                                        </li>
                                     
                                        <li class="divider"></li>
                                        <li>
                                            <h:commandLink styleClass="fa fa-wrench" action="#{logonController.showSettings()}" immediate="true" value="Settings"/>
                                        </li>
                                      
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        
                     <div>

                           
                                <div class="row" style="border-bottom: 1px solid #ededed">
                                    <div class="col-lg-1">
                                        <ul class="nav navbar-top-links  navbar-left" style="height: 20px; margin-top: -5px">
                                            <li class="dropdown" style="list-style: none; text-decoration: none;">
                                                <h:selectBooleanCheckbox 
                                                    value="#{folderManagementBean.mailSelectionCheckBox}"  
                                                    id="selectAllMailCheckBox"
                                                    >                                               
                                                    <a4j:ajax 
                                                        listener="#{mailsListingController.reRender}" 
                                                        oncomplete="utilities.mailSelection()" 
                                                        event="click" 
                                                        render="koo"
                                                        />
                                                </h:selectBooleanCheckbox>
                                            </li>
                                            <li class="dropdown" style="list-style: none; text-decoration: none;">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-caret-down"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <h:dataTable  id="selectMailDropDown"  
                                                                  value="#{choicesRetriever.allMailSelectOptionsString}" 
                                                                  var="dMessageSelectionAction">
                                                        <h:column>
                                                            <t:htmlTag value="li">                                                    
                                                                <a4j:commandLink  style="text-decoration: none;" 
                                                                                  onclick="utilities.callSpinner('mailsListingForm')"
                                                                                  action="#{mailsListingController.changeSelectionOfMails()}"
                                                                                  value="#{dMessageSelectionAction}"
                                                                                  render="koo selectAllMailCheckBox"
                                                                                  oncomplete="utilities.mailSelection()">
                                                                    <f:param value="#{dMessageSelectionAction}" name="choice"/>
                                                                </a4j:commandLink>
                                                            </t:htmlTag>
                                                        </h:column>
                                                    </h:dataTable>
                                                </ul>                                        
                                            </li>
                                        </ul>
                                    </div> 
                                    <div class="col-lg-1 "> 
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                More <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <h:dataTable  id="markMailDropDown"
                                                              value="#{choicesRetriever.allMailMoreOptionsString}" 
                                                              var="dMessageMoreAction">
                                                    <h:column>
                                                        <t:htmlTag value="li">
                                                            <a style="text-decoration: none;" onclick="utilities.callSpinner('mailsListingForm')">
                                                                <h:outputText 
                                                                    value="#{dMessageMoreAction}" 
                                                                    styleClass="dMessageMoreActionOriginalLink" 
                                                                    title="#{dMessageMoreAction}"                                                             
                                                                    />
                                                            </a>
                                                            <h:inputText id="choice" value="#{mailsListingBean.choice}" styleClass="form-control choice" style="display:none"/>
                                                            <h:inputText id="params" value="#{mailsListingBean.params}" styleClass="form-control params" style="display:none"/>

                                                            <a4j:commandButton
                                                                action="#{mailsListingController.changeMarkingOfMails}" 
                                                                styleClass="jMailMarkingFakeButton" 
                                                                style="display:none" 
                                                                oncomplete="utilities.stopSpinner()"
                                                                render="koo linkToInbox"/>
                                                        </t:htmlTag>
                                                    </h:column>
                                                </h:dataTable>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="btn-group">
                                            <t:div styleClass="btn btn-default" onclick="onButtonPressed('mailsListingForm:refreshMail')">
                                                <t:htmlTag value="i" styleClass="glyphicon glyphicon-refresh"/>
                                                <h:commandButton 
                                                    value="#{viewProperties.button_check_for_new_mail}" 
                                                    id="refreshMail"
                                                    style="background:none;border:none"
                                                    action="#{mailsListingController.checkForNewMail}" 
                                                    onclick="utilities.callSpinner('mailsListingForm')"/>                                    
                                            </t:div>
                                            <t:div styleClass="btn btn-default" onclick="onButtonPressed('mailsListingForm:createNewMail')">
                                                <t:htmlTag value="i" styleClass="glyphicon glyphicon-plus-sign"/>
                                                <h:commandButton 
                                                    value="#{viewProperties.button_create_new_mail}" 
                                                    id="createNewMail"
                                                    style="background:none;border:none"
                                                    action="#{mailsListingController.createNewMail}" 
                                                    onclick="utilities.callSpinner('mailsListingForm')"/>                                    
                                            </t:div>
                                            <t:div styleClass="btn btn-default jMoveMessageButton" style="display:none" onclick="onButtonPressed('mailsListingForm:deleteSelectedMails')">
                                                <t:htmlTag value="i" styleClass="glyphicon glyphicon-trash"/>
                                                <h:commandButton 
                                                    value="#{viewProperties.button_delete_selected_mails}" 
                                                    id="deleteSelectedMails"
                                                    style="background:none;border:none"
                                                    action="#{mailsListingController.deleteMailsTemporarilyOrPermanently}" 
                                                    onclick="utilities.callSpinner('mailsListingForm')"/>                                    
                                            </t:div>                                     
                                            <t:htmlTag value="div"  rendered="#{!folderWrapperBean.isDraft}" styleClass="btn-group">
                                                <h:panelGroup styleClass="preformatted jfolderLink">
                                                    <h:commandLink id="moveSelectedMailsHidden" value=" "
                                                                   styleClass="undecoratedLink"
                                                                   action="#{mailsListingController.moveSelectedMails}"/>
                                                    <t:div styleClass="btn btn-default dropdown-toggle jMoveMessageButton" onclick="onButtonPressed('mailsListingForm:moveSelectedMails')" style="display:none;">
                                                        <t:htmlTag value="i" styleClass="glyphicon glyphicon-move"/>
                                                        <h:commandButton 
                                                            value="#{viewProperties.label_move_messages_to}" 
                                                            style="background:none;border:none"
                                                            id="moveSelectedMails"
                                                            action="#{mailsListingController.moveSelectedMails}" 
                                                            onclick="utilities.callSpinner('mailsListingForm')"/>                                    
                                                    </t:div>
                                                    <h:panelGroup style="display:none" styleClass="btn btn-default forceHide" >
                                                        <h:selectOneMenu id="actionFolder" style="background:none;border:none"
                                                                         value="#{folderManagementBean.actionFolder}">
                                                            <f:selectItems value="#{choicesRetriever.allFolders}"/>
                                                        </h:selectOneMenu>                                                
                                                    </h:panelGroup>
                                                </h:panelGroup>     
                                            </t:htmlTag>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <h:inputText id="search" styleClass="form-control" value="#{mailsListingBean.searchVal}"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <h:commandButton image="images/icon-30.png" action="#{mailsListingController.searchForSpecificMail}"/>
                                        </div>
                                    </div>
                                </div>

                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <t:htmlTag value="div" styleClass="chat-panel panel panel-default panel-body" id="koo">
                                           
                                            <h:dataTable id="mailsListingTable"
                                                         value="#{folderWrapperBean.displayMessages}"
                                                         styleClass="table  table-hover table-striped" var="dMessage"
                                                         rendered="#{folderWrapperBean.messageCount ge 1}">
                                                <!-- *************************************************************** select Column ***************************************************************--> 
                                                <span onclick="alert('haha')">
                                                    <h:column>
                                                        <f:facet name="header"></f:facet>
                                                        <h:selectBooleanCheckbox                                                         
                                                            value="#{dMessage.selected}" 
                                                            styleClass="checkBox" 
                                                            title="#{dMessage.originMessage.messageNumber}" 
                                                            onchange="utilities.mailSelection()"
                                                            />
                                                    </h:column>

                                                    <!-- *************************************************************** From Column ***************************************************************-->                                    
                                                    <h:column rendered="#{folderWrapperBean.inboxFolder}">
                                                        <f:facet name="header">
                                                            <h:commandLink styleClass="undecoratedLink"
                                                                           action="#{mailsListingController.sortBySender}">
                                                                <h:outputText value="#{viewProperties.tch_from} "/>
                                                            </h:commandLink>
                                                        </f:facet>
                                                        <a4j:commandLink  styleClass="#{dMessage.cssClassName}" 
                                                                          style="text-decoration: none;"
                                                                          onclick="utilities.callSpinner('mailsListingForm')"
                                                                          action="#{mailsListingController.processClickedMail(dMessage)}">
                                                            <h:outputText styleClass="#{dMessage.cssClassName}" value="#{dMessage.senderList()}"/>
                                                        </a4j:commandLink>
                                                    </h:column>
                                                    <!-- *************************************************************** To Column ***************************************************************-->
                                                    <h:column rendered="#{!folderWrapperBean.inboxFolder}">
                                                        <f:facet name="header">
                                                            <h:commandLink styleClass="undecoratedLink" action="#{mailsListingController.sortByReceiver}">
                                                                <h:outputText value="#{viewProperties.tch_to} "/>
                                                            </h:commandLink>
                                                        </f:facet>
                                                        <a4j:commandLink  styleClass="#{dMessage.cssClassName}" 
                                                                          style="text-decoration: none;"
                                                                          onclick="utilities.callSpinner('mailsListingForm')"
                                                                          action="#{mailsListingController.processClickedMail(dMessage)}">
                                                            <h:outputText styleClass="#{dMessage.cssClassName}" value="#{dMessage.receipentList()}"/>
                                                        </a4j:commandLink>
                                                    </h:column>
                                                    <h:column>
                                                        <f:facet name="header">
                                                        </f:facet>
                                                        <t:htmlTag value="i" styleClass="glyphicon glyphicon-paperclip" rendered="#{dMessage.containsAttachment}"/>
                                                    </h:column>
                                                    <!-- *************************************************************** Subject Column ***************************************************************-->
                                                    <h:column>
                                                        <f:facet name="header">
                                                            <h:panelGrid columns="#{1}" rendered="#{folderWrapperBean.messageCount gt 0}">
                                                                <t:htmlTag value="div">  
                                                                    <h:panelGroup>  
                                                                        <h:commandLink action="#{mailsListingController.sortBySubject}">
                                                                            <h:outputText value="#{viewProperties.tch_subject} " style="font-weight:bold"/>                                                                
                                                                        </h:commandLink>
                                                                    </h:panelGroup>
                                                                </t:htmlTag>
                                                            </h:panelGrid>    
                                                        </f:facet>
                                                        <div>
                                                            <a4j:commandLink  styleClass="#{dMessage.cssClassName}" 
                                                                              style="text-decoration: none;"
                                                                              onclick="utilities.callSpinner('mailsListingForm')"
                                                                              action="#{mailsListingController.processClickedMail(dMessage)}"
                                                                              value="#{(! empty dMessage.originMessage.subject) ? dMessage.originMessage.subject : viewProperties.prompt_no_subject}"
                                                                              title="#{dMessage.originMessage.subjectTooltip}"/>
                                                        </div>

                                                    </h:column>
                                                    <!-- *************************************************************** Date Column ***************************************************************-->
                                                    <h:column>
                                                        <f:facet name="header">
                                                            <h:commandLink styleClass="undecoratedLink"
                                                                           action="#{mailsListingController.sortByDate}">
                                                                <h:outputText value="#{viewProperties.tch_date} "/>
                                                            </h:commandLink>
                                                        </f:facet>
                                                        <h:outputText value="#{dMessage.originMessage.sentDate}"  styleClass="#{dMessage.cssClassName}">
                                                            <f:convertDateTime pattern="dd.MM.yyyy hh:mm a"/>
                                                        </h:outputText>
                                                    </h:column>
                                                    <!-- *************************************************************** Spam Level Column ***************************************************************-->
                                                    <h:column>
                                                        <f:facet name="header">
                                                            <h:commandLink styleClass="undecoratedLink"
                                                                           action="#{mailsListingController.sortBySpamlevel}">
                                                                <h:outputText value="#{viewProperties.tch_xSpamLevel} "/>
                                                            </h:commandLink>
                                                        </f:facet>
                                                        <h:outputText  styleClass="#{dMessage.cssClassName}" value="#{(dMessage.originMessage.spamLevel != null) ? dMessage.originMessage.spamLevel : viewProperties.prompt_xSpamLevel_not_set}" />
                                                    </h:column>

                                                    <!-- *************************************************************** Footer of the table [Select_All / Scope / Paging] ***************************************************************-->
                                                    <f:facet name="footer">

                                                        <h:panelGrid columns="2" columnClasses="rightAlignment, rightAlignment">

                                                            <!-- *************************************************************** Scope_Info ***************************************************************-->
                                                            <h:outputFormat value="#{viewProperties.prompt_scope_messages}">
                                                                <f:param value="#{sessionContainerBean.currentOffset + 1}"/>
                                                                <f:param value="#{mailsListingController.numberLastMessage}"/>
                                                                <f:param value="#{folderWrapperBean.overallMessageCount}"/>
                                                            </h:outputFormat>

                                                            <!-- *************************************************************** Paging ***************************************************************-->
                                                            <h:panelGroup>

                                                                <h:commandLink id="pagingStart" styleClass="undecoratedLink"
                                                                               action="#{mailsListingController.demandPaging}"
                                                                               rendered="#{sessionContainerBean.currentOffset gt 0}">
                                                                    <f:param name="newOffset" value="0"/>
                                                                    <h:graphicImage alt="start" url="/images/start.png"/>
                                                                </h:commandLink>

                                                                <h:commandLink id="pagingBack" styleClass="undecoratedLink"
                                                                               action="#{mailsListingController.demandPaging}"
                                                                               rendered="#{sessionContainerBean.currentOffset gt 0}">
                                                                    <f:param name="newOffset" value="#{sessionContainerBean.currentOffset - sessionContainerBean.amountOfMessagesPerPage}"/>
                                                                    <h:graphicImage alt="back" url="/images/reverse.png"/>
                                                                </h:commandLink>
                                                                <h:commandLink id="pagingForth" styleClass="undecoratedLink"
                                                                               action="#{mailsListingController.demandPaging}"
                                                                               rendered="#{mailsListingController.pagingForthPossible}">
                                                                    <f:param name="newOffset" value="#{sessionContainerBean.currentOffset + sessionContainerBean.amountOfMessagesPerPage}"/>
                                                                    <h:graphicImage alt="forth" url="/images/forth.png"/>
                                                                </h:commandLink>
                                                                <h:commandLink id="pagingEnd" styleClass="undecoratedLink"
                                                                               action="#{mailsListingController.demandPaging}"
                                                                               rendered="#{mailsListingController.pagingForthPossible}">
                                                                    <f:param name="newOffset" value="#{mailsListingController.maxOffset}"/>
                                                                    <h:graphicImage alt="forth" url="/images/end.png"/>
                                                                </h:commandLink>
                                                            </h:panelGroup>
                                                        </h:panelGrid>
                                                    </f:facet>
                                                </span>
                                            </h:dataTable>     
                                            <h:panelGrid  rendered="#{folderWrapperBean.messageCount lt 1}">
                                                                                                
                                                            <h:outputText value="#{viewProperties.prompt_no_messages_in_folder}"/>
                                                      
                                            </h:panelGrid>

                                        </t:htmlTag>

                                        <!--</div>-->
                                    </div>

                                </div>
                            </div>
                               
                    </div>



                </div>
            </h:form>




             <script>
                                                                      $(document).ready(function() {

                                                                          utilities.selectedFolderCSS();

                                                                          $(".commonLeftMenu").on("click", function(e) {
                                                                              $(".commonLeftMenu").removeClass("test");
                                                                              $(this).addClass("test");
                                                                          });

                                                                      });

//                                        setInterval(function(){
//                                            onButtonPressed('mailsListingForm:fakeButtonForAutoCheckingOfNewMail');
//                                        },5000);

                                                                      function onButtonPressed(id) {
                                                                          document.getElementById(id).click();
                                                                      }

                                                                      $(".jfolderLink").hover(function() {
                                                                          $(".forceHide ").show();
                                                                      }, function() {
                                                                          $(".forceHide ").hide();
                                                                      });

                                                                      $(".jfolderDeleteLink").hover(function() {
                                                                          $('.' + $(this).attr('lang')).show();
                                                                      }, function() {
                                                                          $('.' + $(this).attr('lang')).hide();
                                                                      });

                                                                      $('.dMessageMoreActionOriginalLink').click(function(event) {
                                                                          event.preventDefault();
                                                                          MailMarker($(this).prop('title'));
                                                                      });

                                                                      function MailMarker(actionName) {
                                                                          var params = "";
                                                                          $(".checkBox").each(function(index) {
                                                                              if ($(this).prop('checked')) {
                                                                                  params += $(this).attr('title') + ',';
                                                                              }
                                                                          });
                                                                          $('input[type=text].choice').val(actionName);
                                                                          $('input[type=text].params').val(params);
                                                                          $(".jMailMarkingFakeButton").click();
                                                                      }
        </script>           

            
                        </ui:define>
    </ui:composition>
</html>


