<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <h:body>
             An error occurred:
        <br/>
        <h:messages 
            id="errorMessagesSummary" 
            showSummary="true" 
            showDetail="false" 
            errorClass="errorText"
            />
        <br/><br/>

        Details:
        <br/>
        <h:messages 
            id="errorMessagesDetail" 
            showSummary="false" 
            showDetail="true" 
            errorClass="stackTrace"
            />

    </h:body>
</html>
