<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:composition template="/commons/loggedUserTemplate.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="main_menu">
            <nav style="margin-top: 7px" class="navbar navbar-default" role="navigation">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button style="float: left;padding: 8px" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <a class="" href="#">Menu</a>
                    </button>
                </div>

                <div style="background: transparent !important;"  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills mainnav navbar-nav" style="float: right; margin: 0px; margin-top: 15px;">
                        <!-- Home -->
                        <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/index.xhtml">Home</a></li>
                        <!-- Why 24FnF -->
                        <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/why_fnf.xhtml">Why 24FnF</a></li>
                        <!-- Downloads -->
                        <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/download.xhtml">Downloads</a></li>
                        <!-- Features -->
                        <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/features.xhtml">Features</a></li>
                        <!-- Support -->
                        <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/welcome/support.xhtml">Support</a></li>
                        <li><img src="#{facesContext.externalContext.requestContextPath}/resources/img/24fnf_separator.png"  /></li>
                    </ul>
                </div>
            </nav>
            
        </ui:define>

        <ui:define name="middle"> <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <ui:include src="../../commons/leftmenu.xhtml"/> 
                </div>

                <div class="col-lg-2 col-md-2 col-sm-8 col-xs-6">
                    <ul class="nav" id="fnf_sub">
                        <li><a class="active" href="#{facesContext.externalContext.requestContextPath}/secure/book/list.xhtml">Home</a></li>
                        <li><a href="#{facesContext.externalContext.requestContextPath}/secure/book/my_book.xhtml"><div class="cc">My Book</div></a></li>
                 </ul>

                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <ui:insert name="userdetails"></ui:insert>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">


                   
                    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/script.js" />
                    <link type="text/css" rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/scripts/chat/chat.css" />
                    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/chat/chatwindow.js" />
                    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/chat/groupchat.js" />

                    <!--Chat Part Start-->
                    <ui:include src="../../commons/contacts.xhtml" />
                    <!--Chat Part End-->

                </div>

            </div>
        </ui:define>
    </ui:composition>
</html>

