<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich">
    <ui:composition template="book_template.xhtml" xmlns:a4j="http://richfaces.org/a4j"
                    xmlns:rich="http://richfaces.org/rich">
        <ui:define name="userdetails">
            <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.form.js"></script>

            <script>
                var profileImage = '#{loggedUserProfile.profileImage}';
                var userIdentity = '#{loggedUserProfile.userIdentity}';
                var frist_name = '#{loggedUserProfile.firstName}';
                var last_name = '#{loggedUserProfile.lastName}';
                var actionType = '88';
            </script>

            <h:outputText value="#{bookAction.newsFeedRequest(88)}"/> 

            <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/scripts/book_script.js" /> 

            <div style="height: 10px"></div>

            <div id="responsetext"></div>

            <div class="row comment_div_background border_1_px_solid_DBDBDB border_top_right_radius_3_px border_top_left_radius_3_px">
                <div style="text-align: center;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_5_px border_right_1_px_solid_DBDBDB">
                    <a id="display_status_update" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-edit"></span>&nbsp;Update Status</a>
                </div>
                <div style="text-align: center;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_5_px">
                    <a id="display_photo_upload" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-picture"></span>&nbsp;Add Photos</a>
                </div>
            </div>


            <div class="row  background_white update_status border_left_1_px_solid_DBDBDB border_right_1_px_solid_DBDBDB">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_5_px">
                    <input id="statusMessager" type="text" class="form-control" placeholder="What's On Your Mind?" />
                </div>
            </div>

            <div class="row comment_div_background update_status border_1_px_solid_DBDBDB border_bottom_right_radius_3_px border_bottom_left_radius_3_px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_5_px">
                    <span id="statusPostButton" class="btn btn-primary" style="float: right" >Post</span>
                </div>
            </div>

            <form id="albumImageUploadForm" action="#{facesContext.externalContext.requestContextPath}/AlbumImageUploadHandler" method="post" enctype="multipart/form-data">
                <div style="display: none;" class="row background_white add_photo_1 border_left_1_px_solid_DBDBDB border_right_1_px_solid_DBDBDB">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_5_px">
                        <div style="height: 10px"></div>  
                        <input id="cptn" type="text" name="cptn" class="form-control" placeholder="Say something about this photo..." />
                        <div style="height: 10px"></div>    
                        <input id="file" type="file" name="uploadedfile"/>
                    </div>
                </div>

                <div style="display: none;" class="row comment_div_background add_photo_2 border_1_px_solid_DBDBDB border_bottom_right_radius_3_px border_bottom_left_radius_3_px">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_5_px">
                        <h:graphicImage style="display: none;float: right;margin-top: 5px;" id="ajaxloader" value="/resources/img/ajax-loader.gif"/>
                        <input  class="btn btn-show-more" type="submit" value="Post" style="float: right" />
                    </div>
                </div>
            </form>

            <div style="height: 20px"></div>

            <div class="row">
                <div class="newsFeedTable"></div>
                <div id="showmore_loading"> 

                    <div class="comment_div_background" style="width: 100%;height: auto;padding: 5px;border-radius: 3px; ">
                        <span style="margin-left: 35%;opacity: .7">Loading
                            <img src="#{facesContext.externalContext.requestContextPath}/bootstrap/image/progress_bar.gif" />
                        </span>
                    </div>
                    <div style="height: 5px"></div>
                </div>

                <h:form style="display: none" id="showmore_form">
                    <a4j:commandButton id="showmore_button" onkeypress="return false;" onkeydown="return false;" onkeyup="return false;" style="margin-left: 1px;" styleClass="btn btn-show-more btn-block" actionListener="#{bookAction.newsFeedRequestWithTime(88)}" value="Show More"/>
                </h:form>
            </div>


            <script type="text/javascript">

                $(document).ready(function() {
                    $("#display_status_update").click(function() {
                        $(".update_status").show();
                        $(".add_photo_1").hide();
                        $(".add_photo_2").hide();

                    });
                    $("#display_photo_upload").click(function() {
                        $(".add_photo_1").css("display", "block");
                        $(".add_photo_2").css("display", "block");
                        $(".update_status").hide();
                    });
                });
            </script>


            <script>
                (function() {
                    var bar = $('.bar');
                    var percent = $('.percent');
                    var statusSuccessMessage = $('#statusSuccessMessage');
                    var cptn = $('#cptn');
                    var responsetext = $('#responsetext');
                  
                    $('#albumImageUploadForm').ajaxForm({
                        beforeSend: function() {
                            if (!fileSelected()) {
                                alert("Please select an image.");
                                return;
                            }
                            //document.getElementById("p-image").style.display = 'none';
                            document.getElementById("cptn").readOnly = true;
                            document.getElementById("ajaxloader").style.display = 'block';
                            statusSuccessMessage.empty();
                            var percentVal = '0%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        uploadProgress: function(event, position, total, percentComplete) {
                            var percentVal = percentComplete + '%';
                            bar.width(percentVal)
                            percent.html(percentVal);
                        },
                        complete: function(xhr) {
                            bar.width("100%");
                            percent.html("100%");
                            // statusSuccessMessage.html(xhr.responseText);
                            responseperser(xhr.responseText, cptn.val());

//responsetext.html(xhr.responseText);
                            document.getElementById("albumImageUploadForm").innerHTML = document.getElementById("albumImageUploadForm").innerHTML;


                            document.getElementById("ajaxloader").style.display = 'none';
                            document.getElementById("cptn").readOnly = false;
                        }
                    });
                })();

                function responseperser(responsetext, cptn) {


                    var username = '#{loggedUserProfile.userIdentity}';
                    var profileImage = '#{loggedUserProfile.profileImage}';
                    newsFeed.responseperser(responsetext, username, profileImage, cptn);
                }
                
                 function fileSelected() {
                     if(document.getElementById("file").value.length>5){return true;}          

                      return false;
                }
                
            </script>

        </ui:define>
    </ui:composition>

</html>